<div class="ui info message">
 Geef informatie over de berichten die gestuurd zijn over dit incident
</div>
<div class="field">
  <label>Melding bij AP en zo ja: bericht, dag en tijdstip /nummer van de gedane melding</label>
  <textarea type="text" name="securityIncident[authorityReport]"><%=securityIncident.authorityReport%></textarea>
</div>
<div class="field">
  <label>Melding bij betrokkenen en zo ja: bericht, dag en tijdstip</label>
  <textarea type="text" name="securityIncident[concernedPeopleReport]"><%=securityIncident.concernedPeopleReport%></textarea>
</div>
<div class="field">
  <label>Overige berichten / relevante informatie</label>
  <textarea type="text" name="securityIncident[otherRelevantInformation]"><%=securityIncident.otherRelevantInformation%></textarea>
</div>