<% include ../partials/school/header %>

<div class="ui container">
  
  <h2 class="ui center aligned header">
      <div>Pillars Admin - gebruikers bewerken</div>
  </h2>
  
  <form class="ui form" action="/admin/find-user" method="POST">
    <div class="required field">
          <label>Username (email adres)</label>
          <input type="text" name="username"  placeholder="Email adres" required>
    </div>
    <div class="required field">
          <label>School gebruiker</label>
          <div class="ui selection dropdown">
              <input type="hidden" name="school">
              <div class="text">Selecteer de school</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                  <% schools.forEach(function(school){%>
                    <div class="item"
                        data-value="<%=school._id%>">
                          <%=school.brin%> <%=school.instellingsnaam%> <%=school.plaatsnaam%>
                    </div>
                  <%})%>
              </div>
          </div>
      </div>
    <button class="ui button" type="submit">Zoeken</button>
  </form>

</div>

<% include ../partials/school/footer %>

