<div class="ui info message">
  Hier geeft u aan wie het beveiligingsincident of datalek heeft gemeld.
</div>
<div class="field">
  <label>Naam melder</label>
  <input type="text" name="securityIncident[reporterName]" placeholder="Naam melder">
</div>
<div class="field">
  <label>Adres</label>
      <div class="fields">
        <div class="twelve wide field">
          <input type="text" name="securityIncident[reporterOrganisationAddress]"  placeholder="Adres">
        </div>
        <div class="four wide field">
          <input type="text" name="securityIncident[reporterOrganisationAddressNumber]"  placeholder="Huisnummer">
        </div>
      </div>
</div>
<div class="field">
  <label>Postcode en Plaatsnaam</label>
      <div class="fields">
          <div class="four wide field">
              <input type="text" name="securityIncident[reporterOrganisationPostalCode]"  placeholder="Postcode">
          </div>
          <div class="twelve wide field">
              <input type="text" name="securityIncident[reporterOrganisationCity]"  placeholder="Plaatsnaam">
          </div>
      </div>
</div>
<div class="field">
  <label>Contactgegevens</label>
      <div class="fields">
          <div class="four wide field">
              <input type="text" name="securityIncident[reporterOrganisationPhoneNumber]"  placeholder="Telefoonnummer">
          </div>
          <div class="twelve wide field">
              <input type="text" name="securityIncident[reporterOrganisationEmail]"  placeholder="Email adres">
          </div>
      </div>
</div>