<div class="ui info message">
 Selecteer de verwerker waarop dit incident betrekking heeft.
</div>
<div class="field">
  <label>Verwerker</label>
    <select name="securityIncident[processingActivity]" class="ui dropdown">
      <option value="">Selecteer verwerker</option>
      <% processingActivities.forEach(function(processingActivity) { %>
      <option value="<%=processingActivity._id%>"><%=processingActivity.processingActivityName%></option>
      <% }) %>
    </select>
</div>