<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>


<% include ./header %>

    <h4 class="ui header">Hardware Lijst Toevoegen aan <%= school.name %></h2>
    <div class="ui message">
      <div class="header">
        BELANGRIJK
      </div>
      <p>Lees aandachtig de onderstaande instructies. Bulk upload werkt alleen goed als deze instructies nauwlettend worden gevolgd.</p>
    </div>
    <h4>Instructies</h4>
    <div class="ui bulleted list">
      <div class="item">Maak een nieuwe Google Sheet of Excel bestand met de volgende headers: Naam, Merk, Model, Serial/Tag number, Processor, Werkgeheugen (GB), Jaar van ingebruikname</div>
      <div class="item">Deze headers moeten EXACT overeenkomen met de woorden hierboven</div>
      <div class="item">Knip en Plak hierna vanuit jouw bestand met computers de gegevens in de juiste kolom. Het is niet erg als sommige velden leeg zijn.</div>
      <div class="item">Als je klaar bent, bewaar dan het bestand als CSV.</div>
      <div class="item">Selecteer hieronder het scheidingsteken dat wordt gebruikt in het bestand dat je wilt uploaden. Dit kan ";" zijn (bijvoorbeeld vanuit Excel-Nederlands) of "," (bijvoorbeeld vanuit Google Sheets)</div>
      <div class="item">Kies het csv bestand en klik dan op bewaren</div>
    </div>
    <form class="ui form" action="/schools/<%=school._id%>/hardware/bulk" method="POST" encType="multipart/form-data" id="usersForm">
        <div class="fields">
          <div class="two wide required field">
              <label>Scheidingsteken</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="separation" id="dropdown" value="," required>
                  <div class="text">Selecteer scheidingsteken</div>
                  <i class="dropdown icon"></i>
                  <div class="menu">
                      <div class="item" data-value=",">,</div>
                      <div class="item" data-value=";">;</div>
                  </div>
                </div>
            </div>
          </div>
          <input type="file" name="file" accept="*.csv" required/><br/><br/>
        <button class="ui button" type="submit">Bewaren</button>
        <div class="ui error message"></div>
    </form>
    </div>
    
<% include ../partials/school-footer %>
<% include ../partials/footer %>