<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<% include ./header %>

<div id="surveyResult"></div>
<div id="data" hidden><%=JSON.stringify(school.hardware)%></div>


<% include ../partials/school-footer %>
<% include ../partials/footer %>