<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/user-header%>
    
    <h2 class="ui centered header">Evaluatie Toevoegen</h2>
    
    <form class="ui form" action="/user/<%=user._id%>/evaluation" method="POST" id="evaluationForm" novalidate>
      <div class="field">
            <label>Titel</label>  
            <input type="text" name="evaluation[title]" placeholder="Titel van jouw evaluatie..." required="" title="Dit veld is verplicht">
      </div>
      <div class="field">
            <label>Rapport van gesprek</label>  
            <textarea name="evaluation[report]" placeholder="Noteer hier het rapport van jullie evaluatiegesprek..."></textarea>
      </div>
      <div class="field">
            <label>Plan van aanpak</label>  
            <textarea name="evaluation[plan]" placeholder="Noteer hier het actieplan als gevolg van het evaluatiegesprek..."></textarea>
      </div>
      <button class="ui button" type="submit">Bewaren</button>
    </form>

<% include ../partials/user-footer %>
<% include ../partials/footer %>
