<html>
    <head>
        <title>Pillars</title>
        <link rel="shortcut icon" href="/img/logo.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%- include('./header-scripts') %>
        <link rel="stylesheet" type="text/css" href="/scripts/animate.css">
        <link rel="stylesheet" type="text/css" href="/semantic.min.css"> 
        <link rel="stylesheet" type="text/css" href="/css/app.css">
        <% if(scripts.header.datatables){%>
            <link rel="stylesheet" type="text/css" href="/scripts/keyTable.dataTables.min.css">
            <link rel="stylesheet" type="text/css" href="/scripts/dataTables.semanticui.min.css">
            <link rel="stylesheet" type="text/css" href="/scripts/buttons.semanticui.min.css">
            <link rel="stylesheet" type="text/css" href="/scripts/dataTables.select.min.css">
            <link rel="stylesheet" type="text/css" href="/css/editor.semanticui.min.css">
            <link rel="stylesheet" type="text/css" href="/scripts/dataTables.checkboxes.min.css"  />
            <link rel="stylesheet" type="text/css" href="/scripts/rowGroup.semanticui.min.css" rel="stylesheet" />
            
        <% } %>
        
        
    </head>
    <body class="Site">
    <main class="Site-content">
        
        
        