<div class="ui blue inverted icon menu large">
  <a class="horizontal item" 
      href="https://pillars.school" 
      target="_blank" 
      data-content="Opent Pillars website in nieuw venster">
    <img src="/img/logo.png" id="pillars-logo">
  </a>
  <a class="horizontal item" href="/home/" data-content="Startpagina">
      <i class="home icon" ></i>
  </a>
  <% if(currentUser && (currentUser.role==="buser" || currentUser.role==="badmin" || currentUser.role ==="padmin")) { %>
    <a class="horizontal item" href="/schools/" data-content="Scholen">
        <i class="university icon" ></i>
    </a>
  <% } %>
  <% if(currentUser && (currentUser.role==="badmin" || currentUser.role ==="padmin")) { %>
  <div class="ui dropdown horizontal item" data-content="Pillars instellingen">
    <i class="cog icon"></i>
    <div class="menu">
      <a class="item" href="/standard">
        Normering
      </a>
      <a class="item" href="/organisationSettings">
        Module instellingen
      </a>
    </div>
  </div>
  <div class="ui dropdown horizontal item" data-content="Communicatie">
    <i class="bullhorn icon"></i>
    <div class="menu">
      <% if(organisationSettings.messages){ %>
        <a class="item" href="/message">
          Berichtgeving
        </a>
      <% } %>
      <a class="item" href="/survey">
        Enquêtes
      </a>
    </div>
  </div>
  <a class="horizontal item" href="/org-user" data-content="Bestuur Medewerkers">
    <i class="users icon"></i>
  </a>
  <% if(organisationSettings.privacy){ %>
    <div class="ui dropdown horizontal item" data-content="Algemene verordening gegevensbescherming (AVG)">
      <i class="shield icon"></i>
      <div class="menu">
        <a class="item" href="/processingActivity">
          Verwerkingsactiviteiten
        </a>
        <a class="item" href="/securityIncident">
          Beveiligingsincidenten
        </a>
      </div>
    </div>
  <% } %>
  <div class="ui dropdown horizontal item" data-content="Overzichten">
    <i class="chart bar icon"></i>
    <div class="menu">
      <a class="item" href="/overview/schools">Invoer Gegevens</a>
      <% if(organisationSettings.hardware){ %>
        <a class="item" href="/overview/hardware">Hardware</a>
      <% } %>
      <% if(organisationSettings.software){ %>
        <a class="item" href="/overview/software">Digitale Leermiddelen</a>
      <% } %>
      <!-- <a class="item" href="/overview/tests">Test Resultaten</a> -->
      <% if(organisationSettings.pillars){ %>
        <a class="item" href="/overview/pillars">Pillars Resultaten</a>
      <% } %>
    </div>            
  </div>
  <% } %>
  <% if(currentUser && currentUser.role ==="padmin") { %>
  <div class="ui dropdown horizontal item" data-content="Pillars admin">
    <i class="globe icon"></i>
    <div class="menu">
      <a class="item" href="/admin">Lijst scholen</a>
      <a class="item" href="/organisations">Lijst organisaties</a>
      <a class="item" href="/admin/badmin">Bestuur administrator lijst</a>
      <a class="item" href="/admin/transfer">Gebruiker updaten</a>
      <a class="item" href="/admin/standard">Lijst normeringen</a>
    </div>            
  </div>
  <% } %>
  <% if(currentUser) { %>
  <div class="right menu">
    <a class="ui horizontal item" 
        id="profiel-menu" 
        href="/user/<%=currentUser._id%>" 
        data-content="Ga naar profielpagina van <%=currentUser.username%>">
      <i class="user circle icon"></i>
    </a>
    <a class="horizontal item" 
        href="https://pillars.school/docs" target="_blank" 
        data-content="Opent handleiding in nieuw venster">
      <i class="question icon"></i>
    </a>
    <a class="ui horizontal item" href="/logout" data-content="Uitloggen">
      <i class="sign-out icon" aria-hidden="true"></i>
    </a>
  </div>
  <% } %>
</div>