<div class="ui secondary pointing menu">
  <a href="/organisations/<%= organisation._id %>/overview/pillars"  
    class="item <%if(url.includes('pillars')){%>active<%}%>">
    Verwerkingsactiviteiten
  </a>
  <a href="/organisations/<%= organisation._id %>/overview/hardware" class="item <%if(url.includes('hardware')){%>active<%}%>">
    Beveiligingsincidenten
  </a>
</div>