<div class="ui container">
	<div class="ui grid">
	  <div class="four wide column">
	    <% include ./school-menu %>
	  </div>  
	  <div class="twelve wide stretched column">
	    <div class="ui segment">