<div class="ui grid">
  <div class="two column row">
    <div class="left floated column">
      <h5 class="ui header">
        <i class="user circle icon"></i>
        <div class="content">
          Jouw profielpagina
        </div>
      </h5>
    </div>
    <div class="right floated column">
      <button type="button" class="ui right floated mini circular icon button" id="profile-info"  data-content="Meer informatie">
          <i class="info icon"></i>
      </button>
    </div>
  </div>
</div>

<div class="ui relaxed divided list">
	<div class="item">
		<% if(currentUser.firstName && currentUser.lastName){%>
	  		<i class="check green icon"></i>
        <div class="content">
          Voornaam en achternaam ingevuld
          <div class="description">
            <a href="/user/<%=currentUser._id%>">Bekijk je profiel</a>
          </div>
        </div>
	  <%} else {%>
	  		<i class="edit outline icon"></i>
        <div class="content">
          Voornaam en achternaam zijn niet ingevuld
          <div class="description">
            <a href="/user/<%=currentUser._id%>/edit">Bewerk je profiel</a>
          </div>
        </div>
	  <%}%>
  </div>
  <div class="item">
    <% if(currentUser.publicProfile){%>
        <i class="check green icon"></i>
        <div class="content">
          Schoolleiding heeft toegang tot profiel informatie
          <div class="description">
            <a href="/user/<%=currentUser._id%>">Bekijk je profiel</a>
          </div>
        </div>
    <%} else {%>
        <i class="edit outline icon"></i>
        <div class="content">
          Profielinformatie is nuttig bij het analyseren van enquêtes. 
          <div class="description">
            <a href="/user/<%=currentUser._id%>/edit">Bewerk je profiel</a> als je deze informatie wilt invullen en delen met de schoolleiding.
          </div> 
        </div>
    <%}%>
  </div>
</div>


<div class="ui basic modal profile-info">
  <div class="ui icon header">
    <i class="user circle icon"></i>
    Gebruikers Profiel
  </div>
  <div class="content">
    <p>In Pillars zie je via de knop rechtsbovenin het menu jouw profielpagina. Hier kun je jouw gegevens invullen.</p>
    <h4>Privacy</h4>
    <p>Bij het invullen van deskundigheidstests worden automatisch je naam en email adres gedeeld met de schoolleiding. Als je hiertegen bezwaar hebt, geef dit dan aub door aan jouw directie.</p>

    <h4>Profielinformatie</h4>
    <p>Op jouw profiel worden gegevens gevraagd betreffende bijvoorbeeld jouw functie, jouw algemene taak binnen de school (onderwijzend of ondersteuned) en je leeftijd. Deze gegevens zijn nuttig bij het analyseren van de deskundigheidstests. Je kunt op jouw profielpagina deze gegevens invullen en ook aangeven of je deze gegevens wilt delen.</p>

  </div>
  <div class="actions">
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i>
      Duidelijk
    </div>
  </div>
</div>