<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
  
  <h2 class="ui center aligned header">
      <div>Bestuur Medewerkers</div>
  </h2>
  <a class="positive ui button right" href="/org-user/new/">Medewerker Toevoegen met Email/Wachtwoord</a>
  <a class="positive ui button right" href="/org-user/newSocial/">Medewerker Toevoegen met Schoolaccount</a>
  <div class="ui divider"></div>
    <!-- placeholder if no users -->
    <%if(users.length===0){%>
      <div class="ui placeholder segment">
        <div class="ui icon header">
          <i class="dont icon"></i>
          Nog geen medewerkers
        </div>
      </div>
    <%}%>
    <div class="ui cards">
      <!--make a card for each buser-->
      <% users.forEach(function(user){ %>
      <div class="card">
        <div class="content">
          <div class="header"><%=user.firstName %> <%=user.lastName %></div>
          <div class="description">
                <%=user.username%>
          </div>
          <div class="description">
                <%if(user.role==="badmin"){%>Bestuur Admin<%}else{%>Bestuur User<%}%>
          </div>
        </div>
        <div class="ui bottom attached button">
          <form id="delete" 
              action="/org-user/<%=user._id%>?_method=DELETE" method="POST">
              <button class="ui red basic button">Verwijderen</button>
          </form>
        </div>
      </div>
      <% }); %>
    </div>
</div>
  
<% include ../partials/footer %>