<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<% include ./header %>

<div id="analysis__container">
	<div id="surveyResult"></div>
</div>
<div id="data" hidden><%=JSON.stringify(school.software)%></div>
<div id="schoolType" hidden><%=JSON.stringify(school.isSecondarySchool || 'false')%></div>

<% include ../partials/school-footer %>
<% include ../partials/footer %>