<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

<h2 class="ui header">
  <i class="student icon"></i></i>Digitale Leermiddelen Toevoegen aan <%= school.name %>
</h2>
<div class="ui divider"></div>

<script type="text/javascript" src="//widget.edurep.nl/latest/js/init.js"></script>
<script type="text/javascript">
var EdurepWidget={};
EdurepWidget.config = {
	"widget": {
		"title": false,
		"description": false,
		"showExport": true,
		"border": true,
		"bordered": true,
		"maximumPredefinedFiltersShown": false
	},
	"filters": {
		"lom.classification.obk.educationallevel.id": [
			{
				"label": "Primair onderwijs",
				"value": "512e4729-03a4-43a2-95ba-758071d1b725"
			},
			{
				"label": "Speciaal basisonderwijs",
				"value": "e05b5eb1-6a65-4f45-9556-79b25cd91da8"
			},
			{
				"label": "Speciaal onderwijs",
				"value": "e7f1c08f-08fb-48ab-be8e-c131b1bce54a"
			},
			{
				"label": "Voortgezet onderwijs",
				"value": "2a1401e9-c223-493b-9b86-78f6993b1a8d"
			},
			{
				"label": "Voortgezet speciaal onderwijs",
				"value": "dbbc3e87-a848-4425-912a-d494e43e5e59"
			}
		],
		"lom.educational.intendedenduserrole": [
			{
				"label": "Docent",
				"value": "teacher"
			}
		]
	},
	"exclude": []
};
</script>
<div id="eduwidget"></div>


<% include ../partials/school-footer %>
<% include ../partials/footer %>