<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<%if(schoolLevel){%>
  <% include ../partials/school-header %>

  <h2 class="ui top attached header">Enquête Bewerken van <%= school.name %></h2>
<%} else { %>
  <div class="ui container">
    <h2 class="ui top attached header">Enquête Bewerken</h2>
<% } %>
  
  <div class="ui info message">
      Bewerk de enquête in de "Survey Designer" en test indien gewenst onder "Test Survey". Je kunt de enquête bewaren door te klikken op "Save survey" in de "Survey Designer".
      Gebruik maar 1 van beide vraagtypes: Rating (1-5) of Boolean (Ja/Nee)! Niet door elkaar gebruiken.
  </div>

  <div class="ui grid">
    <div class="eight wide column">
       <h5> Naam van de enquête </h5>
      <div class="ui fluid icon input">
        <input type="text" value="<%=survey.name%>" id="surveyName">
        <i class="edit icon"></i>
      </div>
    </div>
    <%if(survey.isCompetenceSurvey){%>
      <div class="eight wide column">
        <h5>Is actief?</h5>
        <div class="ui checkbox">
          <input type="checkbox" id="isActiveSurvey" <%if(survey.isActiveCompetenceSurvey){%>checked<%}%>>
          <label>Is actieve deskundigheidstest?</label>
        </div>
      </div>
    <%} else {%>
      <div class="eight wide column">
        <h5>Alleen voor ingelogde gebruikers?</h5>
        <div class="ui checkbox">
          <input type="checkbox" id="isPublicSurvey" <%if(!survey.isPublic){%> checked<%}%>>
          <label>Alleen ingelogde gebruikers</label>
        </div>
      </div>

    <%}%>
  </div>

  
  <div id="surveyEditorContainer"></div>
  <div id="surveyInfo" hidden><%= JSON.stringify(survey)%></div>

<%if(schoolLevel){%>
  <div id="schoolId" hidden><%=school._id%></div>
  <% include ../partials/school-footer %>
<%} else {%>
  </div>
<% } %>
<% include ../partials/footer %>
