  <div class="ui container">
    <div class="ui divider"></div>
    <h2 class="ui header"><i class="list icon"></i>Inzendingen</h2>
    <%if(surveyResults.length===0){%>
    <div class="ui placeholder segment">
      <div class="ui icon header">
        <i class="dont icon"></i>
        Nog geen inzendingen
      </div>
    </div>
    <%} else {%>

      <table id="resultsTable" class="ui celled small table display"></table>
    <%}%>
    

  </div>