<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<div class="ui container">

<h2 class="ui header"><i class="question circle outline icon"></i><%=surveyResult.survey.name%></h2>
<button class="ui secondary basic button" onclick="goBack()">Terug</button>

<button class="ui primary basic button" id="saveToPDFbtn">Bewaar PDF</button>
<div class="ui divider"></div>
<div id="surveyElement"></div>

<div id="surveyText" hidden><%= JSON.stringify(surveyResult.survey.survey)%></div>
<div id="surveyData" hidden><%= JSON.stringify(surveyResult.result)%></div>


<% include ../partials/footer %>