<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

      <h2 class="ui header"><i class="bar chart icon"></i>Pillars Grafieken</h2>
      <h2 class="ui right aligned header">
        <a href="/schools/<%=school._id%>/pillars/settings">
        <i class="setting icon"></i>
        </a>
      </h2>
      <!-- RESULT VARIABLE -->   
      <div id="result" data-value="<%=JSON.stringify(result)%>"></div>   
      <!-- TOTAL SCORE -->
      <div class="ui horizontal divider">
        Pillars Score
      </div>
      <canvas id="total"></canvas>
      <!--HARDWARE-->
      <div class="ui horizontal divider">
        Hardware
      </div>
      <canvas id="hardware"></canvas>
      <!--SOFTWARE-->
      <div class="ui horizontal divider">
        Digitale Leermiddelen
      </div>
      <% if(school.isSecondarySchool) { %>
        <canvas id="softwareSS"></canvas>
      <%} else { %>
        <canvas id="software"></canvas>
      <% } %>
      <!--COMPETENCE-->
      <div class="ui horizontal divider">
        Deskundigheid
      </div>
      <canvas id="competence"></canvas>
      <!--MANAGEMENT-->
      <div class="ui horizontal divider">
        Organisatie
      </div>
      <canvas id="management"></canvas>


<% include ../partials/school-footer %>
<% include ../partials/footer %>
