<% include ./partials/main/header %>

<div class = "about">
    <div class="container">
        <img src="images/logo2.png" id="logo-prices"></img>
        <h1>Over Pillars</h1>
        
        <div>
            Pillars helpt je met het complexe vraagstuk rondom ICT en onderwijs. 
            Besturen en/of scholen profiteren graag optimaal van ICT middelen die ze tot hun beschikking hebben. 
            Echter, waar begin je als je op een hoger niveau wilt komen? 
            Met Pillars steek je de peilstok in je hardware, software, deskundigheid en jouw ICT organisatie. 
            Dit zijn de pilaren waarmee de effectiviteit van jouw ICT middelen zichtbaar worden.
        </div>
        
        <div>
            Wil je ook een meting doen? Dat kan, meld je aan bij Pillars en ontdek jouw Pillars score.
        </div>
        <div>
            Bereikt jouw school op termijn de maximale score van 20 punten?
        </div>
        
        <h2>
            Hardware
        </h2>
        
        <div>
            Goede, betrouwbare hardware is onontbeerlijk voor een prettige ICT werkervaring. 
            Lang wachten op een pc die moet opstarten, een traag netwerk, zonneschermen naar beneden en de lichten uit voor wat zicht op het digitale schoolbord, eigenlijk is dat funest voor je onderwijs.
        </div>
        
        <div>
            In Pillars hebben we daarom de lat hoog gelegd. Je streeft per slot van rekening naar de optimale situatie. 
            We gaan uit van deze norm en zetten daar jouw resultaten tegen af. Zo berekenen we jouw score.
        </div>
        
        <div>
            Voor hardware hebben we de volgende normen geformuleerd:
        </div>
        
        <ul>
            <li>Er is ten minste 1 goede werkplek voor iedere 5 kinderen in de school</li>
            <li>In ieder (bevolkt) lokaal is een digitaal schoolbord met goed beeld en geluid aanwezig</li>
            <li>Het bedrade en draadloze netwerk functioneert prima met dekking in de hele school</li>
            <li>De school beschikt over een kar met laptops waarmee ten minste één hele groep gelijktijdig aan het werk kan</li>
        </ul>
        
        <div>
            Voldoe je aan alle gestelde normen, dan krijgt jouw school op het onderdeel hardware 5 punten.
        </div>
        
        <h2>
            Digitale Leermiddelen
        </h2>
        
        <div>
            Digitale leermiddelen (software) zijn een belangrijk hulpmiddel om je onderwijs mee te ondersteunen. 
            Voor de verschillende vakgebieden zijn er middelen op de markt voor de instructie, de verwerking en/of inoefening en de toetsing. 
            Pillars meet de kwaliteit van jouw software.
        </div>
        
        <div>
            Je krijgt niet alleen zicht op de software die je in school hebt voor de verschillende vakgebieden, maar Pillars streeft ook naar hoogwaardige software.
        </div>
        
        <div>
            Aan de hand van de volgende criteria stellen we de kwaliteit ervan vast:
        </div>
        
        <ul>
            <li>De software sluit goed aan op de leerdoelen (van belang bij software voor instructie, inoefening en toetsing)</li>
            <li>De software is aantrekkelijk en gebruiksvriendelijk (instructie, inoefening en toetsing)</li>
            <li>De leerkracht heeft zicht op de resultaten van de kinderen (inoefening en toetsing)</li>
            <li>Leerlingen hebben een inlog waarmee ze ook thuis kunnen oefenen</li>
        </ul>
        
        <div>
            Heb je jouw digitale leermiddelen goed op orde, dan kun je met dit onderdeel opnieuw 5 punten halen.
        </div>
        
        <h2>
            Deskundigheid
        </h2>
        
        <div>
            De hardware en de digitale leermiddelen kunnen nog zo goed zijn, als de leerkracht er niet mee uit de voeten kan, is de effectiviteit niet erg groot. 
            Pillars vraagt je antwoord te geven op een aantal vragen.
            Ook maak je een inlog voor iedere medewerker op school, die vervolgens zijn ICT Deskundigheid Profiel kan testen.
            Daarmee stellen we de deskundigheid van jouw leerkrachten vast. 
            De deskundigheid staat altijd in relatie tot de digitale leermiddelen en de hardware.
        </div>
        
        <div>
            Pillars doet dat door bij het digitale leermiddel te vragen naar gedrag van de leerkrachten. Zie je de volgende gedragingen:
        </div>
        
        <ul>
            <li>Leerkrachten gebruiken de instructiesoftware</li>
            <li>Leerkrachten geven kinderen gelegenheid met de software te werken</li>
            <li>Leerkrachten passen het lesdoel aan en zetten oefeningen klaar passend bij de behoefte van de leerling, doordat ze de gemaakte oefening hebben geanalyseerd</li>
        </ul>
        
        <div>
            Zijn jouw leerkrachten in staat iedere keer het juiste te doen, dan zijn voor dit onderdeel opnieuw 5 punten te halen.
        </div>
        
        <h2>
            ICT organisatie
        </h2>
        
        <div>
            De ICT organisatie zien we als een belangrijk aspect voor de effectiviteit van jouw omgeving. 
            De wijsheid, "alles gaat automatisch, maar niets gaat vanzelf", gaat ook in schoolorganisaties op. 
            Hierin krijgen we te maken met hardwarefalen, softwareproblemen en wensen we onderwijsinnovatie met behulp van ICT. 
            Vooraf met elkaar afspreken hoe je dit organiseert, helpt jouw school effectief te worden en te blijven.
        </div>
        
        <div>
            Pillars checkt of je de volgende zaken hebt overdacht:
        </div>
        
        <ul>
            <li>Met het team is overeenstemming over de inzet van ICT</li>
            <li>Technische problemen worden adequaat en snel opgelost door de netwerkbeheerder</li>
            <li>Iemand is verantwoordelijk voor de inkoop en heeft daar, afhankelijk van de schoolgrootte, uren voor</li>
            <li>Iemand in de school is verantwoordelijk voor het melden van incidenten bij de netwerkbeheerder en controleert of incidenten ook daadwerkelijk zijn opgelost</li>
            <li>Iemand in de school is verantwoordelijk voor de effectiviteit van de ICT middelen. Wij noemen deze persoon de onderwijsinhoudelijk ICT'er</li>
        </ul>
        
        <div>
             Deze personen worden ook gefaciliteerd door hen bekwaam te maken en uren te geven.
        </div>
        
        <div>
            Een goede ICT organisatie wordt gewaardeerd met maximaal 5 punten.
        </div>
    
    </div>

<hr>
<blockquote class="blockquote text-center">
  <p class="mb-0">Pillars is ontwikkeld door Yildigo Consultancy</p>
</blockquote>
<hr>
<div class="container footer">
    <div class="row">
        <div class="col-md-4">
            <!--COMPANY INFO PART 1-->
            <h4>Company information</h4>
            <p>Yildigo Consultancy</p>
            <p>Office 212</p>
            <p>Essebaan 17c</p>
            <p>2908 LJ Capelle aan den IJssel</p>
            <p>Email: info@yildigo.com</p>
            <!--END COMPANY INFO PART 1-->
        </div>
        <div class="col-md-4">
            <!--COMPANY INFO PART 2-->
            <h4>Registration</h4>
            <p>Chamber of Commerce nr: 68836066</p>
            <p>VAT nr: NL173458051B01</p>
            <p>Bankaccount information:</p>
            <p>accountholder Roeland Verbakel</p>
            <p>IBAN: NL92ABNA0465363776</p>
            <!--END COMPANY INFO PART 2-->
        </div>
        <div class="col-md-4 smooth">
            <!--LINKS TO SOCIAL MEDIA-->
            <h4>Links to Social Media</h4>
            <p>
                <a href="https://www.linkedin.com/in/roeland-verbakel-34616713b/"><i class="fa fa-linkedin-square" aria-hidden="true">
                    </i> Roeland Verbakel on LinkedIn
                </a>
            </p>
            <p>
                <a href="https://twitter.com/Yildigo_Consult"><i class="fa fa-twitter-square" aria-hidden="true">
                    </i> Yildigo on Twitter
                </a>
            </p>
            <p>
                <a href="http://www.yildigo.com"><i class="fa fa-info-circle" aria-hidden="true">
                    </i> Website van Yildigo
                </a>
            </p>
        </div>
    </div>
</div>
</div>

<% include ./partials/main/footer %>