<% include ./partials/main/header %>

<div class="container" id="register">
    <h2>Nieuw Wachtwoord Aanvragen bij Pillars</h2>
    <form action="/forgot" method="post">
      <div class="form-group">
        <label for="exampleInputEmail1">Email adres</label>
        <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email adres">
        <small id="emailHelp" class="form-text text-muted">Je krijgt een email met verdere instructies!</small>
      </div>
      <button type="submit" class="btn btn-primary">Aanvragen</button>
    </form>
</div> 

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include ./partials/main/footer %>