<% include ./partials/header %>
<% include ./partials/flash-message %>

    <div class="home-container">
      <div class="home-box">
      	<a href="/scholen"><image src="/img/logo.png" width="200px" height="200px"></image></a>
  		  <div class="ui inverted huge header">Optimale ICT Resultaten</div>
  		  <div class="ui inverted small header">Zorg Voor Balans Tussen Hardware, Digitale Leermiddelen, Deskundigheid en Organisatie op Jouw School</div>
  	     <a href="/schools" class="ui big primary button"><i class="fa fa-bar-chart"></i>Nu Beginnen!</a>
      </div>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    
<% include ./partials/footer %>
