<% include ./partials/main/header %>

    <div id="landing-header">
    	<a href="/scholen"><image src="/images/logo2.png" width="200px" height="200px"></image></a>
   		<div class="Jumbotron">
   		  <h1>Optimale ICT Resultaten</h1>
   		  <h5>Zorg Voor Balans Tussen Hardware, Digitale Leermiddelen, Deskundigheid en Organisatie op Jouw School</h5>
  		  <a href="/scholen" class="btn btn-lg btn-success"><i class="fa fa-bar-chart"></i>Nu Beginnen!</a>
      </div>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    
<% include ./partials/main/footer %>
