<% include ./partials/main/header %>

<div class="container" id="loginForm">
    <h2>Inloggen bij Pillars</h2>
    <form action="/login" method="post" id="login" novalidate>
      <div class="form-group">
        <label for="email">Email adres</label>
        <input type="email" name="username" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email adres" required>
        <small id="emailHelp" class="form-text text-muted">We delen je email met niemand!</small>
      </div>
      <div class="form-group">
        <label for="password">Wachtwoord</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Wachtwoord" required>
      </div>
      <button type="submit" class="btn btn-primary">Inloggen</button>
      <div class="ui error message"></div>
    </form>
    <h6 id="vergeten">Wachtwoord vergeten? <a href="/forgot">Vraag hier een nieuw wachtwoord aan!</a></h6>
    <h6>Nog geen account? <a href="/register">Meld je aan voor Pillars!</a></h6>
    
</div> 

   <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include ./partials/main/footer %>
