<% include ./partials/main/header %>

<div class = "about">
    <div class="container">
        
        <img src="images/logo2.png" id="logo-prices"></img>
        
        <h1>Prijzen</h1>
        
        <div>
            <strong>Deelname aan Pillars kost 25 Euro per school per jaar.</strong>
        </div>
        
        <div>
            De eerste 30 dagen kun je Pillars gratis uitproberen. 
        </div>
        
        <div>
            Daarna ontvangt iedere school die je beheert via jouw account een rekening voor het lopende jaar.
        </div>
</div>

<hr>
<blockquote class="blockquote text-center">
  <p class="mb-0">Pillars is ontwikkeld door Yildigo Consultancy</p>
</blockquote>
<hr>
<div class="container footer">
    <div class="row">
        <div class="col-md-4">
            <!--COMPANY INFO PART 1-->
            <h4>Company information</h4>
            <p>Yildigo Consultancy</p>
            <p>Office 212</p>
            <p>Essebaan 17c</p>
            <p>2908 LJ Capelle aan den IJssel</p>
            <p>telephone nr +31(0)103105646</p>
            <!--END COMPANY INFO PART 1-->
        </div>
        <div class="col-md-4">
            <!--COMPANY INFO PART 2-->
            <h4>Registration</h4>
            <p>Chamber of Commerce nr: 68836066</p>
            <p>VAT nr: NL173458051B01</p>
            <p>Bankaccount information:</p>
            <p>accountholder Roeland Verbakel</p>
            <p>IBAN: NL92ABNA0465363776</p>
            <!--END COMPANY INFO PART 2-->
        </div>
        <div class="col-md-4 smooth">
            <!--LINKS TO SOCIAL MEDIA-->
            <h4>Links to Social Media</h4>
            <p>
                <a href="https://www.linkedin.com/in/roeland-verbakel-34616713b/" class="card-link"><i class="fa fa-linkedin-square" aria-hidden="true">
                    </i> Roeland Verbakel on LinkedIn
                </a>
            </p>
            <p>
                <a href="https://twitter.com/Yildigo_Consult" class="card-link"><i class="fa fa-twitter-square" aria-hidden="true">
                    </i> Yildigo on Twitter
                </a>
            </p>
            <p>
                <a href="#back-to-top" class="card-link"><i class="fa fa-arrow-up" aria-hidden="true">
                    </i> Back to top
                </a>
            </p>
        </div>
    </div>
</div>
</div>

<% include ./partials/main/footer %>