<% include ./partials/header %>
<% include ./partials/flash-message %>

<div class="home-container">
  <div class="home-box">
    <div class="ui large inverted header">Aanmelden bij Pillars</div>
    <form action="/register" method="post" id="register" novalidate class="ui inverted form">
      <div class="ui grid">
        <div class="eight wide column">
          <div class="field">
            <label for="firstName">Voornaam</label>
            <input type="text" name="firstName" placeholder="Voornaam">
          </div>
        </div>
        <div class="eight wide column">
          <div class="field">
            <label for="lastName">Achternaam</label>
            <input type="text" name="lastName" placeholder="Achternaam">
          </div>
        </div>
        <div class="sixteen wide column">
          <div class="field">
            <label for="email">Email adres</label>
            <input type="email" name="username" placeholder="Email adres">
          </div>
        </div>
        <div class="eight wide column">
          <div class="field">
            <label for="password">Wachtwoord</label>
            <input type="password" name="password" placeholder="Wachtwoord">
          </div>
        </div>
        <div class="eight wide column">
          <div class="field">
            <label for="password_again">Controleer Wachtwoord</label>
            <input name="password_again" type="password" placeholder="Herhaal Wachtwoord">
          </div>
        </div>
        <div class="eight wide column">
          <div class="field">
            <label>Organisatie</label>
            <select class="ui fluid dropdown" name="organisation">
              <option value="">Selecteer organisatie</option>
              <% for (i = 0; i < organisations.length; i++) {  %>
              <option value="<%=organisations[i]._id%>"><%=organisations[i].name%> - <%=organisations[i].city%></option>
              <% } %>
            </select>
          </div>
        </div>
        <div class="eight wide column">
          <div class="field">
            <label for="activationCode">Activatie Code</label>
            <input type="text" name="activationCode" placeholder="Activatie Code">
          </div>
        </div>
        <input type="text" name="role" class="form-control" value="badmin" hidden="true">
        <div class="sixteen wide column">
          <div class="ui segment">
            <div class="field">
              <div class="ui toggle checkbox">
                <input type="checkbox" name="gift" tabindex="1" class="hidden" checked="checked">
                <label>Ik ga akkoord met de <a href="https://pillars.school/algemene-voorwaarden/">voorwaarden van Pillars</a></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="ui big primary button">Aanmelden</button>
      <div class="ui error message"></div>
    </form>
    <a class="fluid ui small inverted button" href="/login">Heb je al een account? Log in bij Pillars!</a>
  </div> 
</div>


<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<% include ./partials/footer %>



