<% include ./partials/main/header %>

<div class="container" id="register">
    <h2>Aanmelden bij Pillars</h2>
    <form action="/register" method="post" id="registerValidation" novalidate>
      <div class="form-group">
        <label for="email">Email adres</label>
        <input type="email" name="username" class="form-control" id="useremail" placeholder="Email adres" required>
        <small id="emailHelp" class="form-text text-muted">We delen je email met niemand!</small>
      </div>
      <div class="form-group">
        <label for="password">Wachtwoord</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Wachtwoord">
      </div>
      <div class="form-group">
        <label for="password_again">Controleer Wachtwoord</label>
        <input name="password_again" type="password" class="form-control" id="password_again" placeholder="Herhaal Wachtwoord">
      </div>
      <input type="text" name="role" class="form-control" value="badmin" hidden="true">
      <fieldset disabled>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" checked="checked">
            Ik ga akkoord met de <a href="/terms">voorwaarden van Pillars</a>
          </label>
        </div>
      </fieldset>
      <button type="submit" class="btn btn-primary">Aanmelden</button>
    </form>
    <h6>Heb je al een account? <a href="/login">Log in bij Pillars!</a></h6>
</div> 

  
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include ./partials/main/footer %>



