<% include ./partials/main/header %>

<div class="container" id="register">
    <h2>Wachtwoord Opnieuw Instellen bij Pillars</h2>
    <form action="/reset/<%=token%>" method="post" id="resetform" novalidate>
      <div class="form-group">
        <label for="new_password">Nieuw Wachtwoord</label>
        <input type="password" name="password" class="form-control" id="new_password" placeholder="Nieuw Wachtwoord" title="Minimum 8 characters">
      </div>
      <div class="form-group">
        <label for="new_password_again">Controleer Wachtwoord</label>
        <input name="new_password_again" type="password" class="form-control" id="new_password_again" placeholder="Herhaal Wachtwoord" title="Vul hetzelfde wachtwoord nogmaals in">
      </div>
      <button type="submit" class="btn btn-primary">Instellen</button>
    </form>
</div> 

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include ./partials/main/footer %>
