<% include ./partials/header %>
<% include ./partials/flash-message %>

<div class="home-container">
  <div class="home-box">
      <div class="ui large inverted header">Wachtwoord Opnieuw Instellen bij Pillars</div>
      <form action="/reset/<%=token%>" method="post" class="ui inverted form" id="reset">
        <div class="field">
          <label>Nieuw Wachtwoord</label>
          <input type="password" name="password" placeholder="Nieuw Wachtwoord">
        </div>
        <div class="field">
          <label>Controleer Wachtwoord</label>
          <input name="password_again" type="password" placeholder="Herhaal Wachtwoord">
        </div>
        <button type="submit" class="ui primary button">Aanvragen</button>
        <div class="ui error message"></div>
      </form>
  </div> 
</div>

    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<% include ./partials/footer %>
