<h1>Voorwaarden voor het gebruik van de Pillars-Website</h1>
<p>Lees zorgvuldig onze Websitevoorwaarden voordat u van deze website gebruikmaakt. 
Door gebruik te maken van de website gaat u akkoord met deze voorwaarden.</p>

<h3>Inleiding</h3>
<p>Deze website en/of phone apps (gezamenlijk: de “Website”) is het eigendom van HandiHow, 
statutair gevestigd aan Bilderdijkstraat 14, 2902 AB, Nederland. 
In deze Websitevoorwaarden (de “Voorwaarden”) is elke verwijzing naar “Pillars” 
een verwijzing naar HandiHow en/of Partners en verwijst “Gebruiker” naar de gebruiker van deze Website. 
U wordt verzocht deze Voorwaarden aandachtig door te lezen alvorens van de Website gebruik te maken. 
Door deze Website te gebruiken, gaat u akkoord met deze Voorwaarden.</p>

<!--COMPANY INFO PART 1-->
<h4>Bedrijfsinformatie</h4>
<p>HandiHow</p>
<p>Office 212</p>
<p>Essebaan 17c</p>
<p>2908 LJ Capelle aan den IJssel</p>
<p>Email: info@handihow.com</p>
<!--END COMPANY INFO PART 1-->
<!--COMPANY INFO PART 2-->
<h4>Registratie</h4>
<p>Kamer van Koophandel: 68836066</p>
<p>BTW nummer: NL173458051B01</p>


<h3>Intellectuele eigendomsrechten</h3>
<p>Deze Website is het eigendom van Pillars en wordt geëxploiteerd door Pillars en/of haar leveranciers. 
De intellectuele eigendomsrechten, inclusief auteursrechten, die rusten op het in deze Website opgenomen 
materiaal en alle in dat materiaal opgenomen handels- en overige merken van Pillars zijn het eigendom van Pillars 
en/of haar licentiegevers en/of haar leveranciers.   
Het is niet toegestaan via deze Website verkregen materiaal, informatie, software, producten of diensten op enigerlei 
wijze te wijzigen, kopiëren, tonen, uit te voeren, in licentie te geven, vermenigvuldigen, herpubliceren, uploaden, 
posten, verzenden, verkopen, distribueren, onderzoeken, herstellen, monitoren uit te lezen of op te halen zonder de 
voorafgaande schriftelijke toestemming van Pillars. Het is Gebruiker enkel toegestaan een exemplaar van het materiaal 
voor eigen, niet-commercieel gebruik te downloaden naar een computer, mits Gebruiker alle bijbehorende auteursrechten en 
overige eigendomsvoorbehouden intact houdt.</p>

<h3>Afwijzing van aansprakelijkheid</h3>
<p>De op deze Website opgenomen informatie, software, producten en diensten kunnen technische onvolkomenheden of typefouten bevatten. 
Pillars en/of haar leveranciers doen geen uitspraken over de geschiktheid voor enig doel van de op deze Website opgenomen informatie, 
software, producten en diensten. Alle informatie, software, producten en diensten worden aangeboden in de feitelijke staat, 
zonder enige garantie. Pillars en/of haar leveranciers wijzen hierbij elke garantie en voorwaarden af ten aanzien van deze informatie, 
software, producten en diensten, met inbegrip van alle impliciete garanties en voorwaarden ten aanzien van verkoopbaarheid, 
geschiktheid voor een bepaald doel of het eigendom ervan en dat zij geen inbreuk maken. 
Pillars en/of haar leveranciers zijn in geen geval aansprakelijk voor directe, indirecte, incidentele, bijzondere of 
gevolgschade die voortvloeit uit of op enigerlei wijze verband houdt met het gebruik van deze Website of met enige vertraging in 
of onmogelijkheid van het gebruik van deze Website, of van informatie, software, producten en diensten die via deze Website 
wordt/worden verkregen, of die anderszins voortvloeit uit het gebruik van deze Website, ongeacht of dit op basis is van contract, 
een onrechtmatige daad, strikte aansprakelijkheid of anderszins.</p>

<h3>Links naar websites van derden</h3>
<p>Deze Website kan links of verwijzingen bevatten naar (delen van) websites die worden onderhouden door derden. 
De op deze websites aangeboden informatie, producten of diensten alsmede de toegankelijkheid van deze websites, 
worden op geen enkele wijze door Pillars geëxploiteerd of gecontroleerd. 
Links en verwijzingen naar derden worden uitsluitend opgenomen als dienstverlening aan Gebruikers en houden op geen 
enkele wijze een aanbeveling in door Pillars en/of haar leveranciers. 
De verantwoordelijkheid voor het gebruik van links en verwijzingen naar websites van derden berust uitsluitend bij Gebruiker. </p>

<p>Derden die links naar deze Website wensen aan te brengen dienen voorafgaand daaraan Pillars daarvan in kennis te stellen. 
Pillars behoudt zich het recht voor toestemming voor het aanbrengen van dergelijke links te weigeren. 
Mocht Pillars toestemming geven voor deze links, dan rust er op Pillars echter geen enkele verplichting om op haar beurt 
een link naar de website van de betreffende derde aan te brengen.</p>

<h3>Vrijwaring</h3>
<p>Gebruiker verklaart, als voorwaarde voor het gebruik van deze Website, dat hij/zij Pillars en haar leveranciers 
zal vrijwaren voor en tegen alle aansprakelijkstellingen, kosten (inclusief juridische kosten) en schadevergoedingen 
die voortvloeien uit vorderingen die het gevolg zijn van het gebruik door Gebruiker van deze Website.</p>

<h3>Wijzigingen van deze Voorwaarden</h3>
<p>Pillars behoudt zich het recht voor deze Voorwaarden te allen tijde te wijzigen. Gebruiker is ervoor verantwoordelijk deze Voorwaarden, 
die door opname op deze Website doorlopend ter beschikking staan van Gebruiker, regelmatig te raadplegen. 
Door na wijzigingen in de Voorwaarden gebruik te blijven maken van deze Website aanvaardt Gebruiker deze wijzigingen.</p>

<h3>Gebruik gegevens voor commerciele doeleinden</h3>
<p>Pillars behoudt zich het recht voor om informatie verstrekt door Gebruiker te gebruiken voor commerciele doeleinden, 
inclusief, maar niet gelimiteerd tot, het delen van informatie met mogelijke leveranciers van hardware, digitale leermiddelen,
consultancy op het gebied van educatie, trainingsinstanties en/of geinteresseerde partijen in de scores van scholen.</p>

<h3>Algemeen</h3>
<p>Pillars behoudt zich het recht voor om naar eigen inzicht wijzigingen in de Website aan te (laten) brengen, 
zonder Gebruiker daarvan in kennis te stellen. In geval van overtreding van deze Voorwaarden, behoudt Pillars zich het recht 
voor om Gebruiker de toegang tot de Website onmiddellijk en zonder enige kennisgeving te blokkeren en verder iedere actie te 
ondernemen die Pillars noodzakelijk of passend acht tot het verkrijgen van schadevergoeding. </p>

<p>Op de uitvoering van deze Overeenkomst door Pillars zijn bestaande wetten en regelgeving van toepassing en niets in deze 
Overeenkomst laat het recht van Pillars onverlet om te voldoen aan verzoeken of eisen van wethandhavende instanties in verband 
met het gebruik door Gebruiker van deze Website of met aan Pillars geleverde of door Pillars verzamelde informatie 
over dergelijk gebruik.</p>  

<p>Indien enig deel van deze overeenkomt krachtens het toepasselijke recht nietig of onafdwingbaar wordt verklaard, 
met inbegrip van maar niet beperkt tot de hierboven opgenomen afwijzing van garantie en aansprakelijkheid, 
wordt de nietige of onafdwingbare bepaling geacht te zijn vervangen door een geldige of afdwingbare bepaling 
die de strekking van de oorspronkelijke bepaling zo dicht mogelijk benadert en blijft deze Overeenkomst 
voor het overige volledig van kracht. </p> 

<p>Deze Overeenkomst vormt de volledige Overeenkomst tussen Gebruiker en Pillars met betrekking tot het gebruik van deze Website. 
Een afgedrukt exemplaar van deze Overeenkomst en elke op elektronische wijze gegeven kennisgeving kan worden toegelaten als 
bewijs in civiel- en bestuursrechtelijke procedures die zijn gebaseerd op of voortvloeien uit deze Overeenkomst in dezelfde 
mate en onder dezelfde voorwaarde als andere zakelijke bescheiden en gegevens die oorspronkelijk in gedrukte vorm werden 
gegenereerd en bewaard.</p>

<p>Versie: December, 2017</p>