.ui.progress:last-child{
  margin-top: 20px !important;
}

.DTE_Inline.ui.form input {
    border: none;
    background-color: transparent;
    padding: 0 !important;
    margin: 0 !important;
    font-size: 90%;
}

.DTE_Inline.ui.form input:focus {
    outline: none;
    background-color: transparent;
}

.enable_horizontal_scroll{
  overflow-x: auto;
}

#tableContainer {
  overflow-x: auto;
}

.pdf__page {
  width: 1410px;
  height: 1000px;
  padding: 35px;
  border: 1px solid black;
  margin: auto;
}

.sa_question__title{
  font-family: unset;
  font-size: unset;
}

.survey__container{
  max-width: 1200px;
  margin: auto;
}

.imagepicker__container{
  display: table;
  max-width: 700px;
  /*max-width: 800px;*/
  border-spacing: 10px 10px;
}

.imagepicker {
  display: inline-table;
  width: 50%;
  border-radius: 5px;
}

.imagepicker:hover, :focus {
  background: #009CDE;
}
 
.imagepicker.checked {
  background: #FFD700;
  color: white;
}

#pillars-logo {
  width: 45px;
  height: 45px;
}

#analysisChart {
  padding-bottom: 50px;
  margin-bottom: 50px;
}

#analysis__container{
  margin: auto;
  max-width: 1000px;
}

#progressOnPieChartCalcs {
  width: 100%;
}

.slideshow{
  list-style-type:none
}

#register {
  max-width: 800px;
}

#register h6 {
  margin-top: 10px;
}

.home-container{
  text-align: center;
  padding: 20px;
}

.fluid.button{
  margin-bottom: 10px;
}

.primary.button{
  margin-top: 10px;
}

.ui.attached.segment.bullet.chart{
  z-index: 1;
  padding: 0;
}

.ui.avatar.image.profile{
  width:40px;
  height:40px;
}


@media(max-width: 600px){
  .home-container {
    z-index: 1;
    position: relative;
    height: 100%;
    background-color: midnightblue;
  }
}

@media (min-width: 600px) {
  .home-container {
    z-index: 1;
    position: relative;
    max-width: 600px;
    margin-left: 50px;
  }

  .home-box {
    border-style: solid;
    border-width: 5px;
    border-color: white;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
    padding: 20px;
    margin-top: 10vh;
    padding-top: 5vh;
    border-radius: 25px;
    color: #fff;
  }
  .slideshow { 
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: black;
  }

  .slideshow li { 
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 32s linear infinite; 
  }

  .slideshow li:nth-child(1) { 
    background-image: url(/img/red.png); 
  }
  .slideshow li:nth-child(2) { 
    background-image: url(/img/yellow.png);
    animation-delay: 8s; 
  }
  .slideshow li:nth-child(3) {
    background-image: url(/img/black.png);
    animation-delay: 16s; 
  }
  .slideshow li:nth-child(4) { 
    background-image: url(/img/blue.png);
    animation-delay: 24s; 
  }

  @keyframes imageAnimation { 
    0% { 
      opacity: 0; 
      animation-timing-function: ease-in;
    }
    10% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    20% {
      opacity: 1
    }
    30% {
      opacity: 0
    }
  }

  /* Older browser support - .no-cssanimations class added by modernizr */
  .no-cssanimations .slideshow li {
    opacity: 1;
  }
}

.container.main {
    margin-top: 2em;
}

.ui.form {
    margin-top: 25px;
}

#edit {
    margin-top: 20px;
}

#delete {
    display: inline;
}

.count {
    font-size: 4em;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.countHeader {
    text-align: center;
}

#flash-message {
    margin-top: 2em;
    margin-bottom: 2em;
}

#down {
    margin-bottom: 20px;
}

#profiel-menu{
    background-color: #FE9A76;
}

.button-inline {
    display: inline;
}

@media screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .show-mobile {
    display: none;
  }
}

.dataTables_filter{
  float: right;
}

.dataTables_paginate{
  float:right;
}

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
/*  background-image: url(/img/background.png);
  background-size: cover;
  background-position: 50% 50%;*/
}

.Site-content {
  flex: 1;
}

.ui.inverted.vertical.footer.segment {
  margin-top: 30px;
}

.sv_q_description {
  font-size: 9;
}

.sva-question__title{
  font-family: unset;
}

.user-info.hidden {
  display: none;
}


.sv_main.sv_default_css input[type="button"], .sv_default_css button {
  color: unset;
  background-color: unset;
}

.sv_q_rating_item_text {
  margin-left: 5px;
  margin-right: 10px;
}

.question-header h5 {
  font-size: 16px;
}

.sv-visuallyhidden {
  display: none;
}

.sv-hidden {
  display: none;
}

.ui.progress.small {
  width:100%;
}

.radiogroup__label {
  font-size: 14px;
  margin-left: 15px;
}

fieldset  {
    display: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-block-start: unset;
    padding-inline-start: unset;
    padding-inline-end: unset;
    padding-block-end: unset;
    min-inline-size: unset;
    border-width: unset;
    border-style: unset;
    border-color: unset;
    border-image: unset;
}

/*.sva-toolbar {
  display: none;
}*/

.sva-question__content {
  min-width: 550px;
}

