<html>
    <head>
        <title>Pillars</title>
        <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
        <script src="https://use.fontawesome.com/0ad184d31e.js"></script>
        <script src="/../../../js/tinymce/tinymce.min.js"></script>
        <script>
        tinymce.init({ selector: 'textarea',  // change this value according to your HTML
                        branding: false,
                        menubar: false,
                        plugins: "link",
                        toolbar: "undo redo | styleselect | bold italic | link"});
        </script>
    </head>
    <body>
        <div class="ui inverted menu">
          <a class="item" href="https://pillars.school">
            <img src="/images/logo2.png">
          </a>
          <% if(currentUser.role==="buser") { %>
            <a class="item" href="/scholen/">
                Scholen
            </a>
          <% } %>
          <% if(currentUser.role==="badmin" || currentUser.role ==="padmin") { %>
          <div class="ui dropdown item">
            Bestuur
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/scholen/">
                Scholen
              </a>
              <a class="item" href="/normering">
                Normering
              </a>
              <a class="item" href="/profiel">
                Profielvragen
              </a>
              <a class="item" href="/message">
                Berichten
              </a>
              <a class="item" href="/buser">
                Bestuur Medewerkers
              </a>
            </div>
          </div>
          <div class="ui dropdown item">
            Overzichten
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/overview/scholen">Invoer Gegevens</a>
              <a class="item" href="/overview/hardware">Hardware</a>
              <a class="item" href="/overview/software">Digitale Leermiddelen</a>
              <a class="item" href="/overview/tests">Test Resultaten</a>
              <!-- <a class="item" href="/overview/pillars">Pillars Resultaten</a> -->
            </div>            
          </div>
          <% } %>
          <% if(currentUser.role ==="padmin") { %>
          <div class="ui dropdown item">
            Admin
            <i class="dropdown icon"></i>
            <div class="menu">
              <a class="item" href="/admin">Lijst scholen</a>
              <a class="item" href="/admin/badmin">Bestuur administrator lijst</a>
            </div>            
          </div>
          
          
        <% } %>
          <div class="right menu">
            <a class="ui item" href="/user/<%=currentUser._id%>">
              Profiel: <%=currentUser.username%>
            </a>
            <a class="ui item" href="/logout">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
              Uitloggen
            </a>
          </div>
        </div>
        
        <div class="ui container" id="flash-message">
          <% if(error && error.length > 0) { %>
            <div class="ui red message">
              <%= error %>
            </div>
          <% } %>
          <% if (success && success.length > 0) { %>
              <div class="ui green message">
              <%= success %>
            </div>
          <% } %>
        </div>
        