<!DOCTYPE html>
<html>
<head>
	<title>Pillars</title> 
  <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon" />	
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	<!--<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
	<script src="https://use.fontawesome.com/0ad184d31e.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo2.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Pillars
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/prices">Prijzen <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Over Pillars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav justify-content-end">
        <% if(!currentUser){ %>
          <li class="nav-item">
            <a class="nav-link" href="/register">Aanmelden <i class="fa fa-user-plus"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Inloggen <i class="fa fa-user"></i></a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="#">Je bent ingelogd met email: <%=currentUser.username%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"><i class="fa fa-sign-out"></i> Uitloggen</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
  <% } %>
  <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
  <% } %>
</div>