<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
    <div class="ui huge header">Scholen Toevoegen</div>
    
    <p>Zoek op BRIN nummer, locatie nummer of bevoegd gezag nummer.</p>
    <p>Gegevens worden opgezocht in de DUO database.</p>
    
    <form class="ui form" id="zoekScholen" action="/schools/new" method="POST">
        <div class="two fields">
            <div class="field">
              <label>Type school?</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="zoekcriterium" id="zoekcriterium">
                  <i class="dropdown icon"></i>
                  <div class="default text">Selecteer PO of VO</div>
                  <div class="menu">
                      <div class="item" data-value="0">Primair Onderwijs</div>
                      <div class="item" data-value="1">Voortgezet Onderwijs</div>
                      <div class="item" data-value="2">Speciaal Onderwijs</div>
                  </div>
              </div>
             </div>
            <div class="field">
                <label>Zoekveld</label>
                <input type="text" name="zoekveld" placeholder="Zoek op naam, city, BRIN nummer, vestigingsnummer, bestuursnummer etc" id="zoekveld">
            </div>
        </div>
        <button class="ui primary button" type="submit">Zoeken</button>
        <div class="ui error message"></div>
    </form>
</div>

<% include ../partials/footer %>
