<h2 class="ui center aligned header">Hardware</h2>

<div class="ui small basic icon buttons">
  <a class="ui <%if(url==="/organisations/" + organisation._id + "/overview/hardware"){ %> active <%}%> button" 
  		href="/organisations/<%= organisation._id %>/overview/hardware"
  		data-content="Kaarten met totalen">
  		<i class="th icon"></i>
  </a>
  <a class="ui <%if(url==="/organisations/" + organisation._id + "/overview/hardware/list"){ %> active <%}%> button" 
  		href="/organisations/<%= organisation._id %>/overview/hardware/list"
  		data-content="Lijst met hardware">
  		<i class="list icon"></i>
  </a>
  <a class="ui <%if(url==="/organisations/" + organisation._id + "/overview/hardware/budget"){ %> active <%}%> button" 
  		href="/organisations/<%= organisation._id %>/overview/hardware/budget"
  		data-content="Budget berekenen">
  		<i class="euro sign icon"></i>
  </a>
  <a class="ui <%if(url==="/organisations/" + organisation._id + "/overview/hardware/charts"){ %> active <%}%> button" 
      href="/organisations/<%= organisation._id %>/overview/hardware/charts"
      data-content="Grafieken">
      <i class="bar chart icon"></i>
  </a>
</div>
<div class="ui divider"></div>