<h2 class="ui center aligned header">
  <div>Overzicht Hardware</div>
</h2>
<div class="ui icon buttons">
  <a class="ui <%if(url==="/overview/hardware"){ %> active <%}%> button" 
  		href="/overview/hardware"
  		data-content="Kaarten met totalen">
  		<i class="th icon"></i>
  </a>
  <a class="ui <%if(url==="/overview/hardware/list"){ %> active <%}%> button" 
  		href="/overview/hardware/list"
  		data-content="Lijst met hardware">
  		<i class="list icon"></i>
  </a>
  <a class="ui <%if(url==="/overview/hardware/budget"){ %> active <%}%> button" 
  		href="/overview/hardware/budget"
  		data-content="Budget berekenen">
  		<i class="euro sign icon"></i>
  </a>
</div>
<div class="ui divider"></div>