<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>


<div class="ui container">

	<% include ./hardware-header %>


	<div id="surveyResult"></div>
	<div id="data" hidden><%=JSON.stringify(organisation.hardware)%></div>

</div>

<% include ../partials/footer %>