<h2 class="ui centered header">
  Scholen
</h2>

<div class="ui small basic icon buttons">
  <a class="ui <%if(url==="/organisations/" + organisation._id + "/schools"){ %> active <%}%> button" 
  		href="/organisations/<%= organisation._id %>/schools"
  		data-content="Kaarten weergave">
  		<i class="th icon"></i>
  </a>
  <a class="ui <%if(url==="/organisations/" + organisation._id + "/schools/list"){ %> active <%}%> button" 
  		href="/organisations/<%= organisation._id %>/schools/list"
  		data-content="Lijst met scholen">
  		<i class="list icon"></i>
  </a>

</div>

<div class="ui divider"></div>