<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/school-header %>

      <h2 class="ui header"><i class="users icon"></i></i>Medewerkers van <%= school.name %></h2>
        <div class="ui pointing dropdown link item">
          <i class="add icon"></i>
          <span class="text">Nieuw</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="/schools/<%=school._id%>/user/new/"><i class="add user icon"></i> Medewerker Toevoegen met Email/Wachtwoord</a>
            <a class="item" href="/schools/<%=school._id%>/user/newSocial/"><i class="add user icon"></i> Medewerker Toevoegen met Schoolaccount (Google / Office365)</a>
            <div class="divider"></div>
            <div class="header">Bulk import medewerkers</div>
            <a class="item" href="/schools/<%=school._id%>/user/newBulk/"><i class="th list icon"></i> Lijst met email adressen invoeren (Google / Office365)</a>
          </div>
        </div>
        <div class="ui divider"></div>
        <%if(school.users.length===0){%>
          <div class="ui placeholder segment">
            <div class="ui icon header">
              <i class="dont icon"></i>
              Nog geen medewerkers
            </div>
          </div>
        <%}%>
        <div class="ui three doubling cards">
          <!--make a card for each user-->
          <% school.users.forEach(function(user, index){ %>
            <%var schoolUser = true%>
            <% include ../partials/user-card %>
          <% }); %>
        </div>


<% include ../partials/school-footer %>
<% include ../partials/footer %>
