<% include ../partials/school/header %>
<% include ../partials/school/side-header %>
<% var generatedPassword = Math.random().toString(36).substr(2, 8) %>

    <h2 class="ui top attached header"><i class="users icon"></i> Medewerker Toevoegen aan <%= school.instellingsnaam %></h2>
    <div class="container">
        <form class="ui form" id="adminRegister" action="/scholen/<%=school._id%>/user" method="POST" novalidate>
          <div class="required field">
            <label>Naam</label>
            <div class="two fields">
              <div class="required field">
                <input type="text" name="firstName" placeholder="Voornaam" id="firstname">
              </div>
              <div class="required field">
                <input type="text" name="lastName" placeholder="Achternaam" id="lastname">
              </div>
            </div>
          </div>
          <div class="required field">
            <label>E-mail</label>
            <input type="email" name="username" placeholder="E-mail adres" id="email">
          </div>
          <div class="inline fields">
            <label for="role">Selecteer het toegangsniveau:</label>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="role" value="sadmin">
                  <label>Pillars administrator</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="role" value="suser" checked="">
                  <label>Medewerker (zonder speciale rechten)</label>
                </div>
              </div>
          </div>
          <h4 class="ui dividing header">Wachtwoord</h4>
          <p>Het systeem genereert automatisch een wachtwoord. Je kunt dit zelf aanpassen door het wachtwoord te vervangen.</p>
          <div class="two fields">
              <div class="required field">
                 <label>Wachtwoord</label>
                 <input type="text" name="password" id="password" placeholder="Wachtwoord" value=<%=generatedPassword%> required>
              </div>
              <div class="required field">
                 <label>Herhaal wachtwoord</label>
                 <input type="text" name="password_again" id="password_again" placeholder="Herhaal wachtwoord" value=<%=generatedPassword%> required>
              </div>
           </div>
          <button class="ui button" type="submit">Submit</button>
          <div class="ui error message"></div>
        </form>
    </div>
    
<% include ../partials/school/side-footer %>
<% include ../partials/school/footer %>