<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
  <div class="ui huge header">Jouw deskundigheidstests</div>
	<div class="ui relaxed divided list">
	<% surveyResults.forEach(function(surveyResult){ %>
	  <div class="item">
	    <div class="content">
	      <%= surveyResult.survey.competenceStandardTitle %>
	      <div class="description">
	      	<div class="right floated content">
	            <a class="ui mini blue circular icon button" data-content="Analyseer resultaten"
	                href="/survey/<%=surveyResult.survey._id%>/individual">
	              <i class="bar chart icon"></i>
	            </a>
	        </div>
	          Je hebt <a 
	      			href="/survey/<%=surveyResult._id%>/result">deze antwoorden</a> 
	      			ingezonden op <%=surveyResult.createdAt.toJSON().slice(0,10).split('-').reverse().join('/')%>  
	      </div>
	    </div>
	  </div>
	<%});%>
	</div>
	<div class="ui divider"></div>
	<button class="ui secondary basic button" onclick="goBack()">Terug</button>
</div>

<% include ../partials/footer %>