<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<% include ../partials/organisation-header %>

<div class="ui container">
    <div class="ui huge header">Beleid Bewerken</div>
    <form class="ui form" action="/organisations/<%=organisation._id%>/message/<%=message._id%>?_method=PUT" method="POST" id="messageForm" novalidate>
        <div class="required field">
            <label>Titel</label>  
            <input type="text" name="message[title]" value="<%=message.title%>">
        </div>
        <div class="required field">
            <label>Bericht</label>  
            <textarea name="message[message]"><%=message.message%></textarea>
        </div>
        <button class="ui button" type="submit">Bewaren</button>
        <div class="ui error message"></div>
    </form>
</div>

<% include ../partials/organisation-footer %>
<% include ../partials/footer %>

