<% include ../partials/school/header %>

<div class="ui container">
    <div class="ui huge header">Bericht Toevoegen</div>
    <form class="ui form" action="/message" method="POST" id="bericht" novalidate>
        <div class="required field">
            <label>Titel</label>  
            <input type="text" name="message[title]" placeholder="Titel van jouw bericht..." id="message[title]">
        </div>
        <div class="required field">
            <label>Bericht</label>  
            <textarea name="message[message]" placeholder="Jouw bericht... " ></textarea>
        </div>
        <button class="ui button" type="submit">Bewaren</button>
        <div class="ui error message"></div>
    </form>
</div>

<% include ../partials/school/footer %>

