.container.main {
    margin-top: 2em;
}

.ui.form {
    margin-top: 25px;
}

#edit {
    margin-top: 20px;
}

#delete {
    display: inline;
}

.count {
    font-size: 3em;
    text-align: center;
    margin-top: 15px;
}

.countHeader {
    text-align: center;
}

#flash-message {
    margin-top: 2em;
    margin-bottom: 2em;
}

#down {
    margin-bottom: 20px;
}

#profiel-menu{
    background-color: #009FE3;
}

.button-inline {
    display: inline;
}

@media screen and (max-width: 600px) {
  .hide-mobile {
    display: none;
  }
}

@media screen and (min-width: 601px) {
  .show-mobile {
    display: none;
  }
}