<% include ../partials/school/header %>
<% include ../partials/school/side-header %>


    <h2 class="ui top attached header"><i class="doctor icon"></i>Deskundigheid van Leerkrachten van <%= school.instellingsnaam %></h2>
    <form class="ui form" action="/scholen/<%=school._id%>/deskundigheid?_method=PUT" method="POST" id="deskundigheidForm" novalidate>
         <h4 class="ui dividing header">Deskundigheid van Leerkrachten Bewerken</h4>
          <div class="two fields">
            <div class="field">
                <label>Beoordeel de gemiddelde deskundigheid van leerkrachten</label>
                <input type="number" min=1 max=6 name="school[deskLeerkrachten]" value="<%=school.deskLeerkrachten%>">
            </div>
            <div class="field">
                <label>Beoordeel de gemiddelde effectiviteit van digitale leermiddelen op jouw school</label>
                <input type="number" min=1 max=6 name="school[deskEffectiviteit]" value="<%=school.deskEffectiviteit%>">
            </div>
          </div>
          <div class="two fields">
            <div class="field">
                <input type="hidden" value="0" name="school[deskOndersteuning]">
                <div class="ui toggle checkbox">
                    <input 
                        type="checkbox" 
                        name="school[deskOndersteuning]"
                        <% if(school.deskOndersteuning) { %>
                        checked="checked"
                        <% } %>
                    >
                    <label>Leerkrachten hebben ondersteuning of training nodig</label>
                 </div>
            </div>
          </div>
          <button class="ui button" type="submit">Bewaren</button>
          <div class="ui error message"></div>
        </form>
    </div>
</div>

<% include ../partials/school/side-footer %>
<% include ../partials/school/footer %>