<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>
<%if(schoolLevel){%>
  <% include ../partials/school-header %>

  <h2 class="ui top attached header">Verwerkingsovereenkomst Toevoegen aan <%= school.name %></h2>
  <form class="ui small form" action="/schools/<%=school._id%>/processingActivity/<%=processingActivity._id%>?_method=PUT" method="POST" id="processingActivityForm">
<%} else { %>
  <div class="ui container">
    <h2 class="ui top attached header">Verwerkingsovereenkomst Toevoegen</h2>
    <form class="ui small form" action="/processingActivity/<%=processingActivity._id%>?_method=PUT" method="POST" id="processingActivityForm">
<% } %>
  <div class="ui top attached tabular menu">
    <a class="item active" data-tab="first">1. VVW.</a>
    <a class="item" data-tab="second">2. G.VVW.</a>
    <a class="item" data-tab="third">3. F.G.</a>
    <a class="item" data-tab="fourth">4. V.A.</a>
    <a class="item" data-tab="fifth">5. C.B.</a>
    <a class="item" data-tab="sixth">6. T.O.M.</a>
    <a class="item" data-tab="seventh">7. R.v.B.</a>
    <a class="item" data-tab="eighth">8. B.T.</a>
    <a class="item" data-tab="nineth">9. G.B.</a>
    <a class="item" data-tab="tenth">10. B.I.V.</a>
  </div>
  <div class="ui bottom attached tab segment active" data-tab="first">
      <% include edit/part1 %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="second">
      <% include edit/part2 %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="third">
      <% include edit/part3 %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="fourth">
       <% include edit/part4 %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="fifth">
       <% include edit/part5 %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="sixth">
       <% include edit/part6 %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="seventh">
       <% include edit/part7 %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="eighth">
       <% include edit/part8 %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="nineth">
       <% include edit/part9 %>
  </div>
  <div class="ui bottom attached tab segment" data-tab="tenth">
       <% include edit/part10 %>
  </div>
  <button class="ui button" type="submit">Bewaren</button>
  <div class="ui error message"></div>
</form>
<%if(schoolLevel){%>
  <% include ../partials/school-footer %>
<%}%>
<% include ../partials/footer %>