<% include ../partials/school/header %>

<div class="ui container">
    <div class="ui huge header">Pillars Normering: <%=normering.naam%></div>
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">Hardware</a>
      <a class="item" data-tab="second">Digitale Leermiddelen</a>
      <a class="item" data-tab="third">Deskundigheid</a>
      <a class="item" data-tab="fourth">Organisatie</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <!--show hardware normering-->
        <% include show/hardware %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      <!--show software normering-->
      <% include show/software %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      <% include show/deskundigheid %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="fourth">
      <% include show/organisatie %>
    </div>
    <% if(currentUser && normering.owner.equals(currentUser._id)) { %>
    <a id="edit" class="ui primary basic button" href="/normering/<%= normering._id %>/edit">Bewerken</a>
      <form id="delete" action="/normering/<%= normering._id %>?_method=DELETE" method="POST">
          <button class="ui red basic button">Verwijderen</button>
      </form>
    <% } %>
</div>

<% include ../partials/school/footer %>
