<%- include('../../partials/header') %>
<%- include('../../partials/flash-message') %>

<div class="home-container">
  <div class="home-box">
      <!-- <div class="ui large inverted header">Inloggen bij Pillars</div> -->
      <div class="ui small image">
        <img src="/img/logo_horizontaal.png">
      </div>
      <form action="/twofactorauth/login" method="post" class="ui inverted form">
        <div class="field">
          <label for="code">Twee-staps-verificatie code</label>
          <input type="number" name="code" placeholder="Controle code" required autofocus>
        </div>
        <button type="submit" class="ui big primary button">Inloggen</button>
        <div class="ui error message"></div>
      </form>
      
  </div> 
</div>

   <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

<%- include('../../partials/footer') %>
