<h4 class="ui dividing header">7. Rechten van de betrokkene</h4>
<div class="field">
  <label>Hoe is de betrokkene geïnformeerd over de verwerking van gegevens die rechtstreeks bij hem verkregen zijn? 
(Art. 13)</label>
  <input type="text" name="processingActivity[methodOfInformingConcernedDirectInformation]" 
  			value="<%=processingActivity.methodOfInformingConcernedDirectInformation%>">
</div>
<div class="field">
  <label>Hoe is de betrokkene geïnformeerd over de verwerking van gegevens die niet rechtstreeks bij hem verkregen zijn? 
(Art. 14)</label>
  <input type="text" name="processingActivity[methodOfInformingConcernedIndirectInformation]" 
  			value="<%=processingActivity.methodOfInformingConcernedIndirectInformation%>">
</div>
<div class="field">
  <label>Op welke wijze kan de betrokkene zijn rechten uitoefenen?</label>
  <input type="text" name="processingActivity[methodOfExercisingRightsOfConcerned]"
  			value="<%=processingActivity.methodOfExercisingRightsOfConcerned%>">
</div>
