<h4 class="ui dividing header">6. Technische en organisatorische maatregelen</h4>
<div class="ui info message">
   Algemene benoeming van de technische en organisatorische beveiligingsmaatregelen, zoals fysieke toegangscontrole, encryptie, pseudonimisering, maar ook een verwerkersovereenkomst.  
</div>
<div class="field">
	<label>Technische en organisatorische maatregelen ter beveiliging van de gegevens</label>
	  <select multiple="" name="processingActivity[securityMeasures]" class="ui dropdown">
	    <option value="">Selecteer maatregelen</option>
	    <% data.securityMeasures.forEach(function(measure) { %>
	    <option value="<%=measure%>" <%if(processingActivity.securityMeasures.includes(measure)) { %> selected="" <% } %>><%=measure%></option>
	    <% }) %>
	</select>
</div>
<div class="field">
  <label>Indien anders, commentaar</label>
  <input type="text" name="processingActivity[otherMeasuresExplanation]" value="<%=processingActivity.otherMeasuresExplanation%>">
</div>