<h4 class="ui dividing header">8. Bewaartermijnen</h4>
<div class="field">
  <label>Bewaartermijnen per categorie persoonsgegevens</label>
  <input type="text" name="processingActivity[dataRetention]" value="<%=processingActivity.dataRetention%>">
</div>
<div class="field">
  <label>Commentaar bewaartermijnen</label>
  <input type="text" name="processingActivity[dataRetentionComments]" value="<%=processingActivity.dataRetentionComments%>">
</div>