<h4 class="ui dividing header">7. Rechten van de betrokkene</h4>
<div class="field">
  <label>Hoe is de betrokkene geïnformeerd over de verwerking van gegevens die rechtstreeks bij hem verkregen zijn? 
(Art. 13)</label>
  <input type="text" name="processingActivity[methodOfInformingConcernedDirectInformation]" 
  			value="<%=processingActivity.methodOfInformingConcernedDirectInformation%>">
  <div class="ui small pointing label">
        Door contract, digitale informatie op website, etc.
  </div>
</div>
<div class="field">
  <label>Hoe is de betrokkene geïnformeerd over de verwerking van gegevens die niet rechtstreeks bij hem verkregen zijn? 
(Art. 14)</label>
  <input type="text" name="processingActivity[methodOfInformingConcernedIndirectInformation]" 
  			value="<%=processingActivity.methodOfInformingConcernedIndirectInformation%>">
  <div class="ui small pointing label">
        Het is verplicht hierover informatie te verstrekken als hiervan sprake is, voor welk doel, op welke grondslag etc. 
  </div>
</div>
<div class="field">
  <label>Op welke wijze kan de betrokkene zijn rechten uitoefenen?</label>
  <input type="text" name="processingActivity[methodOfExercisingRightsOfConcerned]"
  			value="<%=processingActivity.methodOfExercisingRightsOfConcerned%>">
  <div class="ui small pointing label">
        Via website, mail, telefonisch; afhankelijk van de inrichting hiervan binnen de organisatie.
    </div>
</div>
