<h4 class="ui dividing header">8. Bewaartermijnen</h4>
<div class="ui info message">
    Op basis van het ingevulde bij 4., dient per categorie hier bewaartermijn aangegeven worden (denk ook aan wettelijke termijnen bij bijv. salarisadministratiegegevens).
</div>
<div class="field">
  <label>Bewaartermijnen per categorie persoonsgegevens</label>
  <textarea type="text" name="processingActivity[dataRetention]"><%=processingActivity.dataRetention%></textarea>
</div>
<div class="field">
	<label>Keuzelijst bewaartermijnen</label>
  <select multiple="" name="processingActivity[dataRetentionCategories]" class="ui dropdown">
    <option value="">Selecteer categorieen</option>
    <% config.dataRetentionCategories.forEach(function(category) { %>
    <option value="<%=category%>" <%if(processingActivity.dataRetentionCategories.includes(category)) { %> selected="" <% } %>><%=category%></option>
    <% }) %>
  </select>
</div>
<div class="field">
  <label>Commentaar bewaartermijnen</label>
  <input type="text" name="processingActivity[dataRetentionComments]" value="<%=processingActivity.dataRetentionComments%>">
</div>