<!-- PART 3 OF THE FORM -->
  <h4 class="ui dividing header">3. Functionaris Gegevensverwerking (FG)</h4>
  <div class="two fields">
    <div class="field">
      <label>Naam FG</label>
      <input type="text" name="processingActivity[dataProtectionOfficerName]" value="<%=processingActivity.dataProtectionOfficerName%>">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Email FG</label>
      <input type="text" name="processingActivity[dataProtectionOfficerEmail]" value="<%=processingActivity.dataProtectionOfficerEmail%>">
    </div>
    <div class="field">
      <label>Telefoon FG</label>
      <input type="text" name="processingActivity[dataProtectionOfficerTelephone]" value="<%=processingActivity.dataProtectionOfficerTelephone%>">
    </div>
  </div>