<script>
	$(document).ready(function() {
		
		var initialText = $( '#surveyText' ).text();

		var json = JSON.parse(initialText);

		var survey = new Survey.Model(json);

		survey.getAllQuestions().forEach(function(q) {
	      if(q.getType()==='boolean'){
	      	q.labelFalse = 'Nee';
	      	q.labelTrue = 'Ja';
	      }
	    });

		survey.locale = 'nl';
		survey.haveCommercialLicense = true;

		var softwareText = $( '#softwareText' ).text();
		var softwareJSON = JSON.parse(softwareText);
		if(softwareJSON.hasInfo){
			survey.data = {
				'course': softwareJSON.course,
				'name': softwareJSON.name,
				'gradeLevels': softwareJSON.gradeLevels,
				'supplier': softwareJSON.supplier,
				'type': softwareJSON.type,
				'school': softwareJSON.school,
				'softwareId': softwareJSON.id
			}
		}

		$("#surveyElement").Survey({model: survey});

		var surveyId = $( '#surveyId' ).text();

		function saveSurveyToPdf(filename, surveyModel, pdfWidth, pdfHeight) {
		    var options = {
		        fontSize: 14,
		        margins: {
		            left: 10,
		            right: 10,
		            top: 10,
		            bot: 10
		        },
		        format: [pdfWidth, pdfHeight],
		        commercial: true
		    };
		    var surveyPDF = new SurveyPDF.SurveyPDF(json, options);
		    surveyPDF.data = surveyModel.data;
		    surveyPDF.save(filename);
		}

		$("#saveToPDFbtn").click(function () {
	        var pdfWidth = survey.pdfWidth || 210;
	        var pdfHeight = survey.pdfHeight || 297;
	        saveSurveyToPdf("surveyResult.pdf", survey, pdfWidth, pdfHeight);
	    });


		survey
	    .onComplete
	    .add(function (result) {
	         $.ajax({
		        url: window.location.origin + "/survey/" + surveyId + "/private",
		        type: "POST",
		        data: {
		            result: JSON.stringify(result.data),
		        },
		        success: function (data) {
		        	if(data.success){
		        		document
			            .querySelector('#surveyResult')
			            .innerHTML = "<a href='" + window.location.origin + "/survey/" 
			            				+ data.surveyResultId +  "/result'>Bekijk je inzending</a>";
		        	} else {
		        		alert(data.error);
		        	}
		        },
		        error: function(err) {
		        	alert('Er ging iets mis');
		        }
		    });

	    });
	});
</script>