<script>
	$(document).ready(function() {

		var defaultThemeColors = Survey
	    .StylesManager
	    .ThemeColors["default"];
		defaultThemeColors["$main-color"] = "#3B83C0";
		defaultThemeColors["$main-hover-color"] = "#54C8FF";
		defaultThemeColors["$text-color"] = "#4a4a4a";
		defaultThemeColors["$header-color"] = "#3B83C0";

		defaultThemeColors["$header-background-color"] = "#4a4a4a";
		defaultThemeColors["$body-container-background-color"] = "#F7F7F7";

		Survey
		    .StylesManager
		    .applyTheme();

		var initialText = $( '#surveyText' ).text();

		var json = JSON.parse(initialText);

		var survey = new Survey.Model(json);
		
		survey.locale = 'nl';
		
		$("#surveyElement").Survey({model: survey});

		var surveyId = $( '#surveyId' ).text();

		survey
	    .onComplete
	    .add(function (result) {
	         $.ajax({
		        url: window.location.origin + "/survey/" + surveyId + "/public",
		        type: "POST",
		        data: {
		            result: JSON.stringify(result.data),
		        },
		        success: function (data) {
		        	if(data.success){
		        		document
			            .querySelector('#surveyResult')
			            .innerHTML = "<a href='" + window.location.origin + "/survey/" 
			            				+ data.surveyResultId +  "/result'>Bekijk je inzending</a>";
		        	} else {
		        		alert(data.error);
		        	}
		        },
		        error: function(err) {
		        	alert(err.message ? err.message : 'Er ging iets mis');
		        }
		    });

	    });
	});
</script>