
    <h2 class="ui header"><i class="chart bar icon"></i>Analyse</h2>
    <div class="ui divider"></div>
    <%if(surveyResults.length===0){%>
    <div class="ui placeholder segment">
      <div class="ui icon header">
        <i class="dont icon"></i>
        Nog geen inzendingen
      </div>
    </div>
    <%} else {%>
      
    <div id="analysisChart" class="ui stackable grid"></div>
      <!-- <div id="resultCharts" class="ui stackable grid"></div> -->

    <%}%>
    

  </div>