<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Melding bij AP en zo ja: bericht, dag en tijdstip /nummer van de gedane melding</h4> 
    <div class="content"><%-securityIncident.authorityReport%></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Melding bij betrokkenen en zo ja: bericht, dag en tijdstip</h4> 
    <div class="content"><%-securityIncident.concernedPeopleReport%></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Overige berichten / relevante informatie</h4> 
    <div class="content"><%-securityIncident.otherRelevantInformation%></div>
  </div>
</div>