<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Verwerker</h4> 
    <div class="content"><%= securityIncident.processingActivity.processingActivityName %></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Technische en organisatorische maatregelen ter beveiliging van de gegevens</h4> 
    <div class="content"><%= securityIncident.processingActivity.securityMeasures %></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Categorien betrokkenen</h4> 
    <div class="content"><%= securityIncident.processingActivity.concernedPersonCategoryList %></div>
  </div>
</div>