<% include ../partials/school/header %>

<div class="ui container">
    <div class="ui huge header">Scholen Toevoegen</div>
    
    <p>Zoek op BRIN nummer, locatie nummer of bevoegd gezag nummer.</p>
    <p>Gegevens worden opgezocht in de DUO database.</p>
    
    <form class="ui form" id="zoekScholen" action="/scholen/new" method="POST">
        <div class="two fields">
            <div class="field">
              <label>Waar wil je op zoeken?</label>
              <div class="ui selection dropdown">
                  <input type="hidden" name="zoekcriterium" id="zoekcriterium">
                  <i class="dropdown icon"></i>
                  <div class="default text">Zoekcriterium</div>
                  <div class="menu">
                      <div class="item" data-value="0">BRIN</div>
                      <div class="item" data-value="1">Vestigingsnummer</div>
                      <div class="item" data-value="2">Bevoegd Gezag nummer</div>
                  </div>
              </div>
             </div>
            <div class="field">
                <label>Zoekveld</label>
                <input type="text" name="zoekveld" placeholder="Voer het nummer in..." id="zoekveld">
            </div>
        </div>
        <button class="ui primary button" type="submit">Zoeken</button>
        <div class="ui error message"></div>
    </form>
</div>

<% include ../partials/school/footer %>
