<h4 class="ui dividing header">1. Verwerkingsverantwoordelijke</h4>
  <div class="ui info message">
    De verwerkingsverantwoordelijke is degene die het doel en de middelen voor de verwerking vaststelt. Dit kan een afdeling of bestuursorgaan of een natuurlijk persoon zijn.
  </div>
  <div class="two fields">
    <div class="required field">
      <label>Naam verwerkingsverantwoordelijke</label>
      <input type="text" name="processingActivity[controllerName]" placeholder="Naam Verwerkingsverantwoordelijke" id="processingActivity[controllerName]">
    </div>
    
  </div>
  <div class="field">
    <label>Adres</label>
        <div class="fields">
          <div class="twelve wide field">
            <input type="text" name="processingActivity[controllerOrganisationAddress]"  placeholder="Adres">
          </div>
          <div class="four wide field">
            <input type="text" name="processingActivity[controllerOrganisationAddressNumber]"  placeholder="Huisnummer">
          </div>
        </div>
  </div>
  <div class="field">
    <label>Postcode en Plaatsnaam</label>
        <div class="fields">
            <div class="four wide field">
                <input type="text" name="processingActivity[controllerOrganisationPostalCode]"  placeholder="Postcode">
            </div>
            <div class="twelve wide field">
                <input type="text" name="processingActivity[controllerOrganisationCity]"  placeholder="Plaatsnaam">
            </div>
        </div>
  </div>
  <div class="field">
    <label>Gegevens organisatie</label>
        <div class="fields">
            <div class="four wide field">
                <input type="text" name="processingActivity[controllerOrganisationChamberOfCommerceNumber]"  placeholder="Ondernemingsnummer">
            </div>
            <div class="twelve wide field">
                <input type="text" name="processingActivity[controllerOrganisationLegalForm]"  placeholder="Juridische rechtsvorm">
            </div>
        </div>
  </div>