<h4 class="ui dividing header">7. Rechten van de betrokkene</h4>
<div class="field">
  <label>Hoe is de betrokkene ge誰nformeerd over de verwerking van gegevens die rechtstreeks bij hem verkregen zijn? 
(Art. 13)</label>
  <input type="text" name="processingActivity[methodOfInformingConcernedDirectInformation]" placeholder="Hoe is de betrokkene ge誰nformeerd over de verwerking van gegevens die rechtstreeks bij hem verkregen zijn? 
(Art. 13)">
</div>
<div class="field">
  <label>Hoe is de betrokkene ge誰nformeerd over de verwerking van gegevens die niet rechtstreeks bij hem verkregen zijn? 
(Art. 14)</label>
  <input type="text" name="processingActivity[methodOfInformingConcernedIndirectInformation]" placeholder="Hoe is de betrokkene ge誰nformeerd over de verwerking van gegevens die niet rechtstreeks bij hem verkregen zijn? 
(Art. 14)">
</div>
<div class="field">
  <label>Op welke wijze kan de betrokkene zijn rechten uitoefenen?</label>
  <input type="text" name="processingActivity[methodOfExercisingRightsOfConcerned]" placeholder="Op welke wijze kan de betrokkene zijn rechten uitoefenen?">
</div>
