<h4 class="ui dividing header">7. Rechten van de betrokkene</h4>
<div class="field">
  <label>Hoe is de betrokkene ge誰nformeerd over de verwerking van gegevens die rechtstreeks bij hem verkregen zijn? 
(Art. 13)</label>
  <input type="text" name="processingActivity[methodOfInformingConcernedDirectInformation]" placeholder="Hoe is de betrokkene ge誰nformeerd over de verwerking van gegevens die rechtstreeks bij hem verkregen zijn? 
(Art. 13)">
	<div class="ui small pointing label">
        Door contract, digitale informatie op website, etc.
    </div>
</div>
<div class="field">
  <label>Hoe is de betrokkene ge誰nformeerd over de verwerking van gegevens die niet rechtstreeks bij hem verkregen zijn? 
(Art. 14)</label>
  <input type="text" name="processingActivity[methodOfInformingConcernedIndirectInformation]" placeholder="Hoe is de betrokkene ge誰nformeerd over de verwerking van gegevens die niet rechtstreeks bij hem verkregen zijn? 
(Art. 14)">
	<div class="ui small pointing label">
        Het is verplicht hierover informatie te verstrekken als hiervan sprake is, voor welk doel, op welke grondslag etc. 
    </div>
</div>
<div class="field">
  <label>Op welke wijze kan de betrokkene zijn rechten uitoefenen?</label>
  <input type="text" name="processingActivity[methodOfExercisingRightsOfConcerned]" placeholder="Op welke wijze kan de betrokkene zijn rechten uitoefenen?">
  	<div class="ui small pointing label">
        Via website, mail, telefonisch; afhankelijk van de inrichting hiervan binnen de organisatie.
    </div>
</div>
