<!-- PART 5 OF THE FORM -->
<h4 class="ui dividing header">5. Categoriën van betrokkenen, verwerkers en andere ontvangers</h4>
<div class="field">
  <label>Categorien van betrokkenen</label>
  <input type="text" name="processingActivity[concernedPersonCategories]" placeholder="Categorien van betrokkenen">
</div>
<div class="field">
  <label>Verwerkers</label>
  <input type="text" name="processingActivity[processors]" placeholder="Verwerkers">
</div>
<div class="field">
  <label>Ontvangers andere dan de verwerker</label>
  <input type="text" name="processingActivity[recipientsOtherThanProcessors]" placeholder="Ontvangers andere dan de verwerker">
</div>
