<!-- PART 2 OF THE FORM -->
  <h4 class="ui dividing header">2. Gezamenlijke Verantwoordelijke (indien van toepassing)</h4>
  <div class="two fields">
    <div class="field">
      <label>Naam verwerkingsverantwoordelijke</label>
      <input type="text" name="processingActivity[jointControllerName]" placeholder="Naam Verwerkingsverantwoordelijke">
    </div>
    
  </div>
  <div class="field">
    <label>Adres</label>
        <div class="fields">
          <div class="twelve wide field">
            <input type="text" name="processingActivity[jointControllerOrganisationAddress]"  placeholder="Adres">
          </div>
          <div class="four wide field">
            <input type="text" name="processingActivity[jointControllerOrganisationAddressNumber]"  placeholder="Huisnummer">
          </div>
        </div>
  </div>
  <div class="field">
    <label>Postcode en Plaatsnaam</label>
        <div class="fields">
            <div class="four wide field">
                <input type="text" name="processingActivity[jointControllerOrganisationPostalCode]"  placeholder="Postcode">
            </div>
            <div class="twelve wide field">
                <input type="text" name="processingActivity[jointControllerOrganisationCity]"  placeholder="Plaatsnaam">
            </div>
        </div>
  </div>
  <div class="field">
    <label>Gegevens organisatie</label>
        <div class="fields">
            <div class="four wide field">
                <input type="text" name="processingActivity[jointControllerOrganisationChamberOfCommerceNumber]"  placeholder="Ondernemingsnummer">
            </div>
            <div class="twelve wide field">
                <input type="text" name="processingActivity[jointControllerOrganisationLegalForm]"  placeholder="Juridische rechtsvorm">
            </div>
        </div>
  </div>