<h4 class="ui dividing header">8. Bewaartermijnen</h4>
<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Bewaartermijnen per categorie persoonsgegevens</h4> 
    <div class="content"><%- processingActivity.dataRetention %></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Commentaar bewaartermijnen</h4> 
    <div class="content"><%= processingActivity.dataRetentionComments %></div>
  </div>
</div>