<h4 class="ui dividing header">3. Functionaris Gegevensverwerking (FG)</h4>
<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Naam Functionaris Gegevensverwerking (FG)</h4> 
    <div class="content"><%= processingActivity.dataProtectionOfficerName %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Email FG</h4>
    <div class="content"><%= processingActivity.dataProtectionOfficerEmail %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Telefoonnr FG</h4>
    <div class="content"><%= processingActivity.dataProtectionOfficerTelephone %></div>
  </div>
</div>