<h4 class="ui dividing header">10. BIV Classificatie</h4>
<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Classificatie Beschikbaarheid</h4> 
    <div class="content"><%= processingActivity.riskClassificationAvailability %></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Classificatie Integriteit</h4>
    <div class="content"><%= processingActivity.riskClassificationIntegrity %></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Classificatie Vertrouwelijkheid</h4>
    <div class="content"><%= processingActivity.riskClassificationConfidentiality %></div>
  </div>
</div>