<h4 class="ui dividing header">7. Rechten van de betrokkene</h4>
<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Hoe is de betrokkene geïnformeerd over de verwerking van gegevens die rechtstreeks bij hem verkregen zijn? </h4> 
    <div class="content"><%= processingActivity.methodOfInformingConcernedDirectInformation %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Hoe is de betrokkene geïnformeerd over de verwerking van gegevens die niet rechtstreeks bij hem verkregen zijn?</h4>
    <div class="content"><%= processingActivity.methodOfInformingConcernedIndirectInformation %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Op welke wijze kan de betrokkene zijn rechten uitoefenen?</h4>
    <div class="content"><%= processingActivity.methodOfExercisingRightsOfConcerned %></div>
  </div>
</div>