<h4 class="ui dividing header">5. Categoriën van betrokkenen, verwerkers en andere ontvangers</h4>
<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Categorien van betrokkenen</h4> 
    <div class="content"><%= processingActivity.concernedPersonCategoryList %></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Categorien van betrokkenen, indien anders</h4> 
    <div class="content"><%= processingActivity.concernedPersonCategories %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Verwerkers</h4>
    <div class="content"><%= processingActivity.processors %></div>
  </div>
  <div class="eight wide column">
    <h4 class="content">Ontvangers andere dan de verwerker</h4>
    <div class="content"><%= processingActivity.recipientsOtherThanProcessors %></div>
  </div>
</div>