<h4 class="ui dividing header">6. Technische en organisatorische maatregelen</h4>
<div class="ui stackable grid">
  <div class="sixteen wide column">
    <h4 class="content">Technische en organisatorische maatregelen ter beveiliging van de gegevens</h4> 
    <div class="content"><%= processingActivity.securityMeasures %></div>
  </div>
  <div class="sixteen wide column">
    <h4 class="content">Commentaar, indien anders</h4> 
    <div class="content"><%= processingActivity.otherMeasuresExplanation %></div>
  </div>
</div>