<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pillars</title>
        <link rel="shortcut icon" href="/img/logo.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://unpkg.com/jquery"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
        <script src="https://surveyjs.azureedge.net/1.7.19/survey.ko.js"></script>
        <link href="https://surveyjs.azureedge.net/1.7.19/modern.css" type="text/css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.10/ace.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.10/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
        <!-- Uncomment to enable Select2 <script src="https://unpkg.com/jquery"></script> <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" /> <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script> -->
        <link href="https://surveyjs.azureedge.net/1.7.19/survey-creator.css" type="text/css" rel="stylesheet"/>
        <script src="https://surveyjs.azureedge.net/1.7.19/survey-creator.js"></script>
        <!-- This should be uncommented for jQuery-based widgets <script src="https://unpkg.com/jquery"></script>-->

        <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">

        <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
        <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet"/>

        <script src="https://unpkg.com/sortablejs@1.7.0/Sortable.js"></script>

        <script src="https://surveyjs.azureedge.net/1.7.19/surveyjs-widgets.js"></script>

    </head>
    <body>

        <div id="surveyContainer">
            <div id="creatorElement"></div>
        </div>

        <div id="formData" hidden><%=JSON.stringify(form)%></div>

        <script type="text/javascript">

            var mainColor = "#009FE3";
            var mainHoverColor = "#F9B233";
            var textColor = "#4a4a4a";
            var headerColor = "#009FE3";
            var headerBackgroundColor = "#4a4a4a";
            var bodyContainerBackgroundColor = "#f8f8f8";

            var defaultThemeColorsSurvey = Survey
                .StylesManager
                .ThemeColors["default"];
            defaultThemeColorsSurvey["$main-color"] = mainColor;
            defaultThemeColorsSurvey["$main-hover-color"] = mainHoverColor;
            defaultThemeColorsSurvey["$text-color"] = textColor;
            defaultThemeColorsSurvey["$header-color"] = headerColor;
            defaultThemeColorsSurvey["$header-background-color"] = headerBackgroundColor;
            defaultThemeColorsSurvey["$body-container-background-color"] = bodyContainerBackgroundColor;

            var defaultThemeColorsEditor = SurveyCreator
                .StylesManager
                .ThemeColors["default"];
            defaultThemeColorsEditor["$primary-color"] = mainColor;
            defaultThemeColorsEditor["$secondary-color"] = mainColor;
            defaultThemeColorsEditor["$primary-hover-color"] = mainHoverColor;
            defaultThemeColorsEditor["$primary-text-color"] = textColor;
            defaultThemeColorsEditor["$selection-border-color"] = mainColor;

            Survey
                .StylesManager
                .applyTheme();
            SurveyCreator
                .StylesManager
                .applyTheme("bootstrap");

            var formText = $('#formData').text();
            var formData = JSON.parse(formText);
            console.log(formData);

            var options = {
                showLogicTab: true,
                questionTypes: ["text", "checkbox", "radiogroup", "dropdown", "imagepicker", "matrix", "matrixdropdown", "expression", "image", "html", "rating"]
            };
            var creator = new SurveyCreator.SurveyCreator("creatorElement", options);
            creator.text = formData.text || "";
            creator.showToolbox = "right";
            creator.showPropertyGrid = "right";
            creator.haveCommercialLicense = true;
            creator.rightContainerActiveItem("toolbox");
            creator.isAutoSave = true;
            creator
            .toolbarItems
            .push({
                id: "go-back",
                visible: true,
                title: "Sluiten",
                action: function () {
                    window.history.back();
                }
            });
            creator.saveSurveyFunc = function(saveNo, callback) {
                //Save the survey definition into a local storage
                $.ajax({
                  url: '/form/' + formData._id,
                  type: 'POST',
                  contentType: 'application/json',
                  data: JSON.stringify({
                    text: creator.text
                  }),
                  success: function(response){
                    if(response.success){
                      return true;
                    } else {
                      alert('Fout bij het opslaan van vragenlijst ...' + response.message);
                      return false;
                    }
                    
                  },
                  error: function(error){
                    console.log(error);
                    alert('Fout bij het opslaan van vragenlijst ...' + error.message);
                    return false;
                  }
                })
            };
        </script>

    </body>

</html>