<!DOCTYPE html>
<html>
    <title>Pillars</title> 
    <head>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
      <style>
          #grey { 
              background-color: LightGrey;
          }
      </style>   
    </head>
    <body>

        <div class="ui segment" id="grey">
            <img class="ui centered tiny image" src="https://pillars.school/wp-content/uploads/2017/06/cropped-pillars-logo2.png" height="80" width="80">
            <div class="ui segment">
                <h3 class="ui header">
                    Welkom bij Pillars <%=firstName%> <%=lastName%>
                </h3>
                <p>De directie van jouw school heeft je uitgenodigd om deel te nemen aan Pillars.</p>
                <p>Je kunt inloggen op de <a href="https://pillars.school">Pillars website</a> met:</p>
                <p>Gebruikersnaam: <strong><%=username%></strong></p>
                <%if(firstName){%>
                    <p>Wachtwoord: <strong><%=password%></strong></p>
                <%} else {%>
                    <p>Jouw admin heeft een account voor je gemaakt met het school account.</p>
                    <p>Gebruik de knoppen voor Office365 of Google for Education om in te loggen.</p>
                <% } %>
                <a class="fluid ui green button" href="https://app.pillars.school/login">Klik Hier Om Nu In Te Loggen!</a>
                <p>We wensen je veel succes met het gebruik van Pillars.</p>
                <p>Met vriendelijke groeten, </p>
                <p><strong>Team Pillars</strong></p>
            </div>
        </div>
    </body>
</html>       