<!DOCTYPE html>
<html>
    <title>Pillars</title> 
    <head>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
      <style>
          #grey { 
              background-color: LightGrey;
          }
      </style>   
    </head>
    <body>

        <div class="ui segment" id="grey">
            <img class="ui centered tiny image" src="https://pillars.school/wp-content/uploads/2017/06/cropped-pillars-logo2.png">
            <div class="ui segment">
                <h3 class="ui header">
                    Welkom bij Pillars <%=firstName%> <%=lastName%>
                </h3>
                <p>Je bent aangemeld met het email adres: </p>
                <p><strong><%=username%></strong></p>
                <h3>Activeer jouw account</h3>
                <p>Voordat je Pillars kunt gebruiken, vragen wij je om het email adres te bevestigen. Klik op de knop om jouw email adres te bevestigen. </p>
                <a class="fluid ui green button" href="https://app.pillars.school/verify/<%=emailAuthenticationToken%>">Klik hier om je email te bevestigen</a>
                <p>We wensen je veel plezier met het gebruik van Pillars.</p>
                <p>Met vriendelijke groeten, </p>
                <p><strong>Team Pillars</strong></p>
            </div>
        </div>
    </body>
</html>       