<!DOCTYPE html>
<html>
    <title>Pillars</title> 
    <head>
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
      <style>
          #grey { 
              background-color: LightGrey;
          }
      </style>   
    </head>
    <body>

        <div class="ui segment" id="grey">
            <img class="ui centered tiny image" src="https://pillars.school/wp-content/uploads/2017/06/cropped-pillars-logo2.png" height="80" width="80">
            <div class="ui segment">
                <h3 class="ui header">
                    Welkom bij Pillars <%=firstName%> <%=lastName%>
                </h3>
                <p>De directie van jouw school heeft je uitgenodigd om deel te nemen aan Pillars.</p>
                <p>Je kunt inloggen op de <a href="https://pillars.school">Pillars website</a> met:</p>
                <p>Gebruikersnaam: <strong><%=username%></strong></p>
                <%if(firstName){%>
                    <p>Wachtwoord: <strong><%=password%></strong></p>
                <%} else {%>
                    <p>Jouw admin heeft een account voor je gemaakt met het school account.</p>
                    <p>Gebruik de knoppen voor Office365 of Google for Education om in te loggen.</p>
                <% } %>
                <a class="fluid ui green button" href="https://app.pillars.school/login">Klik Hier Om Nu In Te Loggen!</a>
                <h3>Wat is Pillars?</h3>
                <p>Pillars helpt jouw school met het complexe vraagstuk rondom ICT en onderwijs.
                Jouw school profiteert graag optimaal van ICT middelen die zijn aangeschaft. 
                Met Pillars steek je de peilstok in je hardware, software, deskundigheid en jouw ICT organisatie. 
                Dit zijn de pilaren waarmee de effectiviteit van jouw ICT middelen zichtbaar worden.</p>
                <h3>Deskundigheid van medewerkers</h3>
                <p>Een zeer belangrijke pijler van ICT is de deskundigheid van medewerkers op de school.
                Pillars brengt dit in kaart door medewerkers korte zelfbeoordelingen te laten uitvoeren op vier deelgebieden:</p>
                <ul>
                    <li>ICT geletterdheid</li>
                    <li>Pedagogisch Didactisch Handelen</li>
                    <li>Werken in de schoolcontext</li>
                    <li>Persoonlijke ontwikkeling</li>
                </ul>
                <p>Je hebt een inlog gekregen als Bestuur Medewerker.
                Zodra je inlogt, kom je op een overzicht van scholen binnen jouw bestuur.
                Je kunt naar je profielpagina gaan aan de rechterkant van het menu om jouw ICT deskundigheid te testen.
                </p>
                <p>
                    Op deze profielpagina kun je alle 4 zelfbeoordelingen doen.
                    De beoordelingen bestaan uit ongeveer 20 ja/nee vragen en je kunt iedere beoordeling in ongeveer 15 minuten voltooien.
                    Probeer jezelf zo eerlijk mogelijk te beoordelen.
                </p>   
                <h3>Wat wordt er vervolgens met de gegevens gedaan?</h3>
                <p>Prima vraag! Deskundigheid is 1 van de 4 onderdelen die gemeten worden op jouw school met behulp van Pillars.
                Voor ieder onderdeel kan de school in totaal 5 punten scoren. 
                Wil je meer weten over Pillars in het algemeen, ga dan naar:
                </p>
                <a class="fluid ui green button" href="https://youtu.be/CZd81ncn2oA">YouTube introductiefilmje Pillars</a>
                <p>Alle testresultaten van de 4 onderdelen op het gebied ICT deskundigheid, worden verzameld en er worden gemiddelde scores berekend.
                Aan de hand van de gemiddelde score, berekent Pillars het aantal punten dat gescoord wordt op het gebied Deskundigheid.</p>
                <p>We wensen je veel succes met het gebruik van Pillars.</p>
                <p>Met vriendelijke groeten, </p>
                <p><strong>Team Pillars</strong></p>
            </div>
        </div>
    </body>
</html>       