<% include ../partials/header %>
<% include ../partials/main-menu %>
<% include ../partials/flash-message %>

<div class="ui container">
    <div class="ui huge header">Pillars Normering: <%=standard.name%></div>
    <div class="ui top attached tabular menu">
      <a class="item active" data-tab="first">Hardware</a>
      <a class="item" data-tab="second">Digitale Leermiddelen</a>
      <a class="item" data-tab="third">Deskundigheid</a>
      <a class="item" data-tab="fourth">Organisatie</a>
    </div>
    <div class="ui bottom attached tab segment active" data-tab="first">
        <!--show hardware standard-->
        <% include show/hardware %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      <!--show software standard-->
      <% include show/software %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
      <% include show/competence %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="fourth">
      <% include show/management %>
    </div>
    <a id="edit" class="ui primary basic button" href="/standard/<%= standard._id %>/edit">Bewerken</a>
      <form id="delete" action="/standard/<%= standard._id %>?_method=DELETE" method="POST">
          <button class="ui red basic button">Verwijderen</button>
      </form>
</div>

<% include ../partials/footer %>